.about{
  z-index: 10;
  position: relative;
  margin-top: -52px;
  padding-top: 33px;
  background-image: url(../img/about-mobile.webp),url(../img/back.webp);
  background-size: 92% 90%, 113px 132px;
  background-repeat: no-repeat;
  background-position: top 45px right 9px,top 39px left;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: $dark-blue;

  @media (min-width: $medium-width) {
    margin-top: 96px;
    padding-top: 41px;
    background-image: url(../img/about-tablet.webp),url(../img/back-medium.webp);
    background-size: 376px 510px, 90% 212px;
    background-position: right top 45px, top left 40px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }


  @media (min-width: $large-width) {
    margin-top: 0;
    padding-top: 42px;
    background-image: url(../img/about-desktop.webp),url(../img/back-large.webp);
    background-size: 630px 735px, 212px 212px;
    background-position: right top, top left 40px;
  }

  @media (min-resolution: 2dppx) {
    background-image: url(../img/about-mobile@2x.webp),url(../img/back@2x.webp);
  }

  @media (min-resolution: 2dppx) and (min-width: $medium-width) {
    background-image: url(../img/about-tablet@2x.webp),url(../img/back-medium@2x.webp);
  }

  @media (min-resolution: 2dppx) and (min-width: $large-width) {
    background-image: url(../img/about-desktop@2x.webp),url(../img/back-large@2x.webp);
  }
}

.about__container{
  margin-left: 24px;
  padding-bottom: 82px;

  @media (min-width: $medium-width) {
    margin-left: 34px;
    padding-bottom: 89px;
  }

  @media (min-width: $large-width) {
    margin-left: 70px;
    padding-bottom: 163px;
  }
}

.about__slogan{
  padding-top: 43px;

  @media (min-width: $medium-width) {
    @include text(45px, bold, 45px, $special-orange);
    padding-top: 41px;
  }

  @media (min-width: $medium-width) {
    padding-top: 42px;
  }
}

.about__details{
  display: none;

  @media (min-width: $medium-width) {
    display: flex;
    margin-top: 52px;
    border-radius: 20px;
    width: 276px;
    height: 80px;
  }

  @media (min-width: $large-width) {
    margin-top: 85px;
  }
}

.about__description{
  font-weight: 300;
  margin-top: 20px;

  @media (max-width: $small-max-width) {
    max-width: 210px;
  }

  @media (min-width: $medium-width) {
    width: 310px;
    font-size: 28px;
    line-height: 33px;
    margin-top: 40px;
    margin-bottom: 25px;
  }

  @media (min-width: $large-width) {
    width: 620px;
    margin-top: 57px;
  }
}

.about__description--travel{
  font-weight: bold;

  @media (min-width: $medium-width) {
    font-size: 21px;
    margin-top: 31px;
    line-height: 25px;
  }

  @media (min-width: $large-width) {
    margin-top: 38px;
  }
}
