.about{
  margin-top: 72px;
  background: #192144 url(../../img/about-mobile.png) no-repeat;
  // background-size: contain;
}

.about__container{
  margin-left: 49px;
  margin-bottom: 82px;
}

.countries__header{
  margin-left: 25px;
}
