.add-plans__header{
  display: flex;
  justify-content: space-between;
}

.add-plans__adding-list{
  padding-top: 30px;
  padding-top: 24px;
}

.add-plans__toggles{
  @media (min-width: $large-width) {
    display: none;
  }
}

.add-plans__add-step{
  margin-top: 22px;
  max-width: 250px;
}

.add-plans__button-step{
  margin-top: 22px;
  @media (min-width: $medium-width) {
    max-width: 50%;
  }
}

.add-plans__button-step--outsideflow{
  @media (min-width: $medium-width) {
    order: 7;
  }
}
