.add-plans__header{
  display: flex;
  justify-content: space-between;
}

.add-plans__adding-list{
  padding-top: 30px;
  padding-top: 24px;
}

.add-plans__toggles{
  @media (min-width: $large-width) {
    display: none;
  }
}
