@mixin selected-country {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid $special-dark-grey;
  border-radius: 4px;
  padding-top: 11px;
  padding-right: 15px;
  padding-bottom: 11px;
  padding-left: 9px;
}

.add-plans__header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $large-width) {
    margin-left: 69px;
  }
}

.add-plans__adding-list{
  padding-top: 15px;

  @media (min-width: $medium-width) {
    padding-top: 42px;
  }
}

.add-plans__add-step{
  margin-top: 22px;
  max-width: 250px;
}

.add-plans__button-step{
  margin-top: 22px;
  height: 40px;
  border-radius: 20px;

  @media (max-width: $small-max-width) {
    text-transform: uppercase;
  }

  @media (min-width: $medium-width) {
    max-width: 50%;
    height: 80px;
    min-width: 286px;
    margin-top: 49px;
  }

  @media (min-width: $large-width) {
    margin-top: 57px;
    max-width: 29%;
  }
}

.add-plans__button-step--outsideflow{
  @media (min-width: $medium-width) {
    order: 7;
  }
}

.add-plans__button-step--previous{
  height: 22px;
  @media (max-width: $small-max-width) {
    margin-top: 15px;
    margin-left: 3px;
  }

  @media (min-width: $medium-width) {
    justify-content: flex-end;
    margin-left: -36px;
    margin-top: 77px;
  }

  @media (min-width: $large-width) {
    margin-top: 85px;
  }
}

.add-plans__button-caption{
  font-size: 17px;
  line-height: 30px;

  @media (min-width: $medium-width) {
    font-size: 24px;
    line-height: 24px;
    margin-left: 19px;
  }
}

.add-plans__caption{
  @include text(24px, bold, 24px, $basic-blue-light);

  @media (min-width: $medium-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.add-plans__arrow{
  display: none;

  @media (min-width: $medium-width) {
    display: block;
    width: 14px;
    height: 14px;
    margin-right: 24px;
  }
}

.add-plans__back{
  display: none;
  @media (min-width: $medium-width) {
    display: block;
    margin-right: 19px;
    width: 16px;
    height: 16px;
  }
}

.add-plans__add-country{
  position: relative;
  border-radius: 4px;
  justify-content: space-between;
  width: 100%;
  margin-top: 22px;
  padding-top: 13px;
  padding-right: 15px;
  padding-bottom: 11px;
  padding-left: 11px;
  background: #EDEFF6;
  border-radius: 4px;

  @media (min-width: $medium-width) {
    margin-top: 13px;
    width: 69%;
    height: 70px;
  }

  @media (min-width: $large-width) {
    margin-top: 13px;
     width: 73%;
  }

  &:hover{
    background-color: $basic-grey;
  }

  &:active, &:focus{
    background-color: $basic-grey;
  }
}

.add-plans__country{
  position: relative;
  @media (min-width: $medium-width) {
    // width: 80%;
  }
}

.add-plans__connection{
  position: absolute;
}

.add-plans__connection--small{
  top: 12px;
  left: -14px;
  width: 17px;
  height: 287px;

  @media (min-width: $medium-width) {
    display: none;
  }
}

.add-plans__connection--medium{
  display: none;
  @media (min-width: $medium-width) {
    display: block;
    top: 42px;
    right: 0px;
    stroke: $basic-blue-light;
    stroke-width: 2;
    width: 14px;
    height: 274px
  }

  @media (min-width: $large-width) {
    top: 90px;
    right: 216px;
    height: 277px;
  }
}

.add-plans__entertainments{
  position: relative;
  margin-top: 16px;

  @media (min-width: $medium-width) {
    margin-top: 0;
  }
}

.add-plans__selected-country{
  @include selected-country;

  @media (min-width: $medium-width) {
    height: 46px;
  }

  &:hover{
    border: 1px solid $special-light-grey;
  }
}

.add-plans__empty-country{
  @include selected-country;
  @media (min-width: $medium-width) {
    width: 64%;
    height: 46px;
  }

  @media (min-width: $large-width) {
    width: 70%;
  }
}

.add-plans__select-country{
  width: 90%;
  position: relative;
}

.add-plans__select-country--opened{
  background: $basic-blue-light;
  border: none;
  padding-bottom: 13px;
}

.add-plans__select-country--empty{
  width: 100%;
}


.add-plans__show-countries-icon{
  width: 16px;
  height: 12px;
  margin-right: -3px;

  @media (min-width: $medium-width) {
    width: 20px;
    height: 17px;
  }

  @media (min-width: $large-width) {
    width: 22px;
    height: 24px;
  }
}

.add-plans__show-countries-icon--closed{
  fill:black;
  opacity: 0.3;

  @media (min-width: $medium-width) {
    margin-right: 10px;
  }

  @media (min-width: $large-width) {
    margin-right: 4px;
  }
}

.add-plans__remove-country-icon{
  position: absolute;
  top: -9px;
  right: -10px;
  width: 21px;
  height: 21px;
  fill: $basic-grey;
  stroke-linecap: round;
  stroke-linejoin: round;
  --circle-fill: $basic-grey;

  @media (min-width: $medium-width) {
    fill: transparent;
    transform: scale(2.2);
    right: 0;
    top: 23px;
    --circle-fill: none;
  }

  @media (min-width: $large-width) {
    right: 3px;
  }

  &:hover {
    opacity: 0.3;
  }

  &:active, &:focus {
    opacity: 0.05;
  }
}

.add-plans__remove-country-icon--selected{
  right: -11px;

  @media (min-width: $medium-width) {
    top: 20px;
    right: -35px;
  }

  @media (min-width: $large-width) {
    right: -100px;
  }
}

.add-plans__add-country-icon{
  stroke: #C2C4C9;
  stroke-width: 2px;
  margin-right: 0;
}

.add-plans__add-country-text{
  @include text(14px, 500, 18px, $basic-blue-light);
  letter-spacing: 0.01em;
  text-transform: uppercase;

  @media (max-width: $small-max-width) {
    margin-left: 0;
  }

  @media (min-width: $medium-width) {
    margin-top: 1px;
    margin-left: 15px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $large-width) {
    letter-spacing: normal;
  }
}

.add-plans__circle-icon{
  fill: none;
  position: absolute;
  top: 18px;
  right: 48px;
  width: 8px;
  height: 8px;

  @media (min-width: $medium-width) {
    top: 25px;
    right: 132px;
    width: 14px;
    height: 14px;
  }

  @media (min-width: $large-width) {
    right: 215px;
  }
}

.add-plans__circle-icon--not-selected{
  stroke: $special-dark-grey;
}

.add-plans__circle-icon--add-button{
  top: 40px;
  stroke: $special-dark-grey;

  @media (min-width: $medium-width) {
    position: absolute;
    top: 39px;
    right: 133px;
    fill: #EDEFF6;
  }

  @media (min-width: $large-width) {
    right: 215px;
  }
}

.add-plans__circle-icon--selected{
  position: absolute;
  top: 18px;
  right: 49px;
  fill: $basic-blue-light;

  @media (min-width: $medium-width) {
    top: 23px;
    right: 99px;
  }

  @media (min-width: $large-width) {
    right: 112px;
  }
}

.add-plans__circle-icon-stroke{
  stroke: $special-dark-grey;
}

.add-plans__close-icon{
  stroke: #ffffff;
  stroke-width: 1.4;
  stroke-linecap: round;
  stroke-linejoin: round;
  opacity: 0.3;
  width: 8px;
  height: 9px;

  @media (min-width: $medium-width) {
    width: 22px;
    height: 21px;
    margin-right: 7px;
  }

  @media (min-width: $large-width) {
    width: 22px;
    height: 24px;
  }

  &:hover{
    opacity: 1;
  }

  &:active, &:focus{
    opacity: 0.1;
  }
}

.add-plans__countries-dropdown-wrapper{
  position: absolute;
  z-index: 1;
  background: #FFFFFF;
  left: 0;
  right: 0;

  @media (min-width: $medium-width) {
    display: flex;
    height: 414px;
    right: -40px;
    box-shadow: -1px 1px 10px 1px #aaaaaa;
  }

  @media (min-width: $large-width) {
    width: auto;
    height: 476px;
  }
}

.add-plans__countries-dropdown{
  width: 100%;

  @media (min-width: $medium-width) {
    margin-top: 33px;
    margin-right: 78px;
    margin-bottom: 33px;
    margin-left: 27px;
  }

  @media (min-width: $large-width) {
    margin-top: 20px;
    margin-right: 86px;
    margin-bottom: 0;
    margin-left: 9px;
    border-collapse: separate;
    border-spacing: 16px 14px;
  }
}

.add-plans__countries{
  border: 1px solid $special-dark-grey;
  border-top: none;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 18px;
  letter-spacing: 0.02em;

  @media (min-width: $medium-width) {
    border: none;
    border-left: 1px solid $special-dark-grey;
    margin-right: 10px;
    padding-top: 30px;
    padding-left: 25px;
  }

  @media (min-width: $large-width) {
    padding-left: 25px;
    margin-right: 38px;
  }
}

.add-plans__country-item{
  &:not(:last-child){
    margin-bottom: 4px;
  }

  @media (min-width: $medium-width) {
    min-width: 170px;
    &:not(:last-child){
      margin-bottom: 6px;
    }
  }
}

.add-plans__country-text{
  @include text(16px, normal, 22px, $special-grey);

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.add-plans__selected-country-with-flag{
  position: relative;
  display: flex;
  margin-bottom: -2px;

  @media (min-width: $medium-width) {
    min-height: 70px;
  }
}

.add-plans__selected-country-with-flag--width{
  width: 100%;
  min-width: 140px;

  @media (min-width: $medium-width) {
    width: 64%;
  }

  @media (min-width: $large-width) {
    width: 70%;
  }
}

.add-plans__flag{
  display: flex;
  align-items: center;
  border: 1px solid $special-dark-grey;
  border-radius: 4px;

  @media (min-width: $medium-width) {
    position: absolute;
    top: 3px;
    right: 34px;
    border: none;
  }

  @media (min-width: $large-width) {
    right: 103px;
  }
}

.add-plans__flag--opened{
  border: none;
  margin-left: -1px;
}

.add-plans__flag-image{
  padding: 9px;
  vertical-align: middle;
  width: 35px;
  height: 24px;

  @media (min-width: $medium-width) {
    width: 70px;
    height: 47px;
  }
}

.add-plans__arrow-down{
  position: absolute;
  fill: $special-dark-grey;
  right: -6px;
  bottom: -16px;
  width: 8px;
  height: 11px;

  @media (min-width: $medium-width) {
    display: none;
  }
}

.add-plans__arrow-down--for-empty-country{
  bottom: -19px;
  right: 46px;
}

.add-plans__send{
  margin-top: 14px;

  @media (min-width: $medium-width) {
    margin-top: 50px;
    margin-left: 2px;
  }

  @media (min-width: $large-width) {
    margin-top: 58px;
  }
}

.add-plans__description{
  @media (min-width: $medium-width) {
    max-width: 440px;
    margin-top: 35px;
    margin-left: 3px;
  }

  @media (min-width: $large-width) {
    margin-left: -1px;
  }
}
