.boolean__text{
  @include text(15px, normal, 15px, $basic-blue-light);

  @media (min-width: $medium-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}

.boolean__check{
  border: 1px solid $special-dark-grey;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover{
    border: 1px solid $special-light-grey;
  }

  &:active, &:focus{
    background: #E2E5F1;
  }
}
