.button{
  background-color: $basic-yellow;
  border: none;
  border-radius: 40px;
  text-decoration: none;

  &:hover{
    background-color: $special-yellow-dark;
  }

  &:active, &:focus{
    background-color: $special-yellow-dark;
    opacity: 0.3;
  }
}

.button--authorization{
  padding: 10px 15px 10px 15px;

  @media (min-width: $large-width) {
    padding: 25px 25px 25px 25px;
  }
}

.button--dark-theme{
  background-color: $basic-grey;
}

.button--transparent-theme{
  background-color: transparent;
}

.button--active{
  fill: $basic-blue-light;
}

.button--disabled{
  opacity: 0.15;

}

.button--like{
  fill: #F02323;
}

.button--like-disabled{
  opacity:0.5;
}

.button--light-theme{
  background-color: #ffffff;

  &:hover{
    background-color: #ffffff;
  }

  &:active, &:focus{
    background-color: #ffffff;
  }
}

.button--arrow{
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue-light;
}

.button--change{
  background-color: transparent;
}

.button__caption{
  @include text(17px, bold, 20px, $basic-blue);
  text-align: center;
}

.button__caption--light{
  color: $basic-blue-light;
}

.button__caption--small{
  @include text(16px, bold, 16px, #132576);
}

.button__map-icon{
  background-color: $blue;
}

.button--togle{
  &:hover{
    opacity: 0.7;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}


.button--toggle-disable{
  &:hover{
    opacity: 0.3;
  }

  &:active, &:focus{
    opacity: 0.1;
  }
}
