.button{
  background: $basic-yellow;
  border-radius: 25px;
  max-width: 250px;
}

.button--active{
  fill: $basic-blue-light;
}

.button--disable{
  opacity: 0.15;
}

.button--like{
  fill: #F02323;
}

.button--like-disable{
  opacity:"0.5";
}

.button--light-theme{
  background-color: #ffffff;
}

.button--arrow{
  font-size: 18px;
  line-height: 18px;
  color: $basic-blue-light;
}

.button--change{
  background-color: transparent;
}

.button__caption{
  @include text(17px, bold, 20px, $basic-blue);
}

.button--dark-theme{
  background-color: $basic-grey;
}

.button--transparent-theme{
  background-color: transparent;
}


.button__caption--light{
  color: $basic-blue-light;
}

.button__caption--small{
  @include text(16px, bold, 16px, #132576);
}

.button__map-icon{
  background-color: $blue;
}
