.button{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: $basic-yellow;
  border: none;
  border-radius: 40px;
  text-decoration: none;
  cursor: pointer;

  &:hover{
    background-color: $special-yellow-dark;
  }

  &:active, &:focus{
    background-color: $special-yellow-dark;
    opacity: 0.3;
  }
}

.button--authorization{
  width: 190px;
  height: 40px;
  text-transform: uppercase;
  border-radius: 25px;

  @media (min-width: $medium-width) {
    width: 188px;
    height: 50px;
  }
}

.button--dark-theme{
  background-color: $basic-grey;
}

.button--transparent-theme{
  background-color: transparent;
}

.button--disabled{
  opacity: 0.15;

}

.button--light-theme{
  background-color: #ffffff;

  &:hover{
    background-color: #ffffff;
  }

  &:active, &:focus{
    background-color: #ffffff;
  }
}

.button--arrow{
  color: $basic-blue-light;
}

.button--change{
  background-color: transparent;
}

.button--togle{
  &:hover{
    opacity: 0.7;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}


.button--toggle-disable{
  &:hover{
    opacity: 0.3;
  }

  &:active, &:focus{
    opacity: 0.1;
  }
}

.button__main-caption{
  @include text(18px, bold, 18px, $basic-blue-light);
  text-align: center;

  @media (min-width: $medium-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.button__main-caption--authorization{
  font-size: 17px;
}

.button__main-caption--dark{
  color: $basic-blue;
}

.button__main-caption-small{
  @include text(16px, bold, 16px, #132576);
}

.button__main-caption--padding-left{
  margin-left: 22px;

  @media (min-width: $medium-width) {
    margin-left: 37px;
  }
}

.button__icon{
  margin-right: 24px;

  @media (min-width: $medium-width) {
    margin-right: 37px;
  }
}
