.calendar{
    border-spacing: 0;
}

.calendar__day-cell{
  width: 33px;
  height: 31px;
  border-bottom: 1px solid #D6D9E6;
  border-left: 1px solid #D6D9E6;

  @media (min-width: $medium-width) {
    width: 77px;
    height: 69px;
  }

  @media (min-width: $large-width) {
    width: 148px;
    height: 60px;
  }
}

.calendar .calendar__header{
  padding-left: 5px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(214,217,230, 0.3);
  &:hover{
    border-bottom: 2px solid #FF5C23;
  }
}

.calendar .calendar__day-row:first-child {
  border-bottom: 1px solid #D6D9E6;
  &:hover{
    border-bottom: 2px solid #FF5C23;
  }
}

.calendar .calendar__day-row .calendar__day-cell:last-child{
  border-right: 1px solid #D6D9E6;
  &:hover{
    border-right: 2px solid #FF5C23;
  }
}

.calendar__day{
  @include text(14px, normal, 18px, $special-grey);
  text-align: center;
  box-sizing: border-box;

  @media (min-width: $medium-width) {
    font-size: 18px;
    line-height: 18px;
  }

  @media (min-width: $large-width) {
    text-align: left;
    vertical-align: top;
    padding-left: 16px;
    padding-top: 14px;
  }

  &:hover{
    border: 2px solid #FF5C23;
  }
}

.calendar__day--weakened{
  color: #FF5C23;
}

.calendar__day--disabled{
  opacity: 0.3;
}

.calendar__day--active{
  font-weight: 500;
  color: $basic-blue-light;
  border-color:$special-dark-grey;
  background-color: $basic-grey;

  @media (min-width: $large-width) {
    font-weight: normal;
  }
}

.calendar__day--selected{
  background-color: $basic-blue-light;
  color: #FFFFFF;
}

.calendar__header{
  &:hover{
    border: none;
  }
}

.calendar__notice{
  display: none;

  @media (min-width: $large-width) {
    display: block;
    line-height: 20px;
  }
}
