.card-list{
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-list--inline{
  display: flex;
}

.card-list__flags{
  padding-inline-start: 0;
}

.card-list--column-direction{
  flex-direction: column;
}

.card-list__item{
  margin-bottom: 10px;
  background: #FFFFFF;
  border-radius: 10px;

  @media (min-width: $medium-width) {
    margin-bottom: 40px;
    border-radius: 20px;
  }

  @media (min-width: $large-width) {
    border-radius: 25px;
  }

  &:hover{
    transform: scale(1.01, 1.01);
    box-shadow: 0 4px 2px -2px gray;
  }
}

.card-list--indentation{
  padding-top: 15px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $medium-width) {
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 25px;
  }

  @media (min-width: $large-width) {
    margin-left: 60px;;
    padding-top: 35px;
    padding-bottom: 25px;
    padding-left: 0;
    padding-right: 25px;
  }
}

.card-list__photo{
  width: 70px;
  @media (min-width: $medium-width) {
    width: 100%;
  }
}

.card-list__photo--small{
  @media (min-width: $medium-width) {
    display: none;
  }
}

.card-list__photo--medium{
  display: none;
  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: flex;
  }
}

.card-list__photo--large{
  display: none;

  @media (min-width: $large-width) {
    display: flex;
  }
}

.card-list__flag {
  @media (min-width: $medium-width) {
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -15px;
  }
}

.card-list__info{
  position: relative;
  text-align: center;
  width: 100%;
}

.card-list__preferences{
  display: flex;
  flex-direction: column;
  @media (min-width: $medium-width) {
    min-width: 160px;
  }

  @media (min-width: $large-width) {
    height: 60%;
  }
}

.card-list__user-name{
  @include text(21px, bold, 21px, $basic-blue-light);
  text-align: start;
  @media (min-width: $medium-width) {
    min-width: 150px;
  }

  &:hover{
    color: $basic-blue-light;
    opacity: 0.6;
  }

  &:active, &:focus{
    color: $basic-blue-light;
    opacity: 0.3;
  }
}

.card-list__offline{
  fill: #F97676;
}

.card-list__offline--indentation{
  // padding-right: 20px;
}

.card-list__online{
  fill: #81E31E;
}

.card-list__header-info{
  display: flex;
  justify-content: space-between;
}

.card-list__likes{
  display: flex;
  align-items: center;
}

.card-list__button{
  background-color: #F9EAEA;

  &:hover{
    background-color: #F9D8D8;
  }

  &:active, &:focus{
    background-color: #F9D8D8;
    opacity: 0.5;
  }
  // @media (min-width: $medium-width) {
  //   order: 7;
  // }
}

.card-list__button--disabled{
  background-color: #E2E5F2;
  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    opacity: 0.1;
  }
}

.card-list__transport-text{
  @include text(15px, normal, 16px, $special-grey);

  @media (min-width: $medium-width) {
    display: none;
  }
}

.card-list__additional-info{
  display: flex;
  justify-content: space-between;

  @media (min-width: $medium-width) {
    flex-direction: column;
    margin-left: auto;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
    margin-top: auto;
    order: 4;
  }
}

.card-list__transports{
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-width) {
    justify-content: flex-end;
  }
}

.card-list__level{
  display: flex;
  flex-direction: column;
}

.card-list__level-number{
  @include text(24px, bold, 24px, $basic-blue-light);
}

.card-list__card{
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-width) {
    flex-direction: row;
  }
}

.card-list__user{
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  @media (min-width: $medium-width) {
    justify-content: flex-end;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.card-list__photo--order{
  order: 0;
}

.card-list__buttons{
  display: flex;
  margin-top: auto;
}

.card-list__flags-order{
  @media (min-width: $medium-width) {
    order: 2;
  }
}

.card-list_name-br{
  @media (min-width: $medium-width) {
    display: none;
  }
}

.card-list__avatar{
  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    height: 50%;
  }
}

.card-list__likes-count{
  min-width: 40px;
}
