.card-list{
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card-list__item{
  margin-bottom: 11px;
}

.card-list__flag {
  @media (min-width: $medium-width) {
    position: absolute;
    left: 0;
    top: 50%;
    margin-left: -15px;
  }
}

.card-list__info{
  position: relative;
  background: #FFFFFF;
  text-align: center
}

.card-list__user-name{
  @include text(21px, bold, 21px, $basic-blue-light);
}

.card-list__offline{
  fill: #F97676;
}

.card-list__online{
  fill: #81E31E;
}

.card-list__header-info{
  display: flex;
  justify-content: space-between;
}

.card-list__likes{
  display: flex;
  flex-direction: column;
}

.card-list__button{
  background-color: #F9EAEA;
}

.card-list__text{
  @include text(15px, normal, 16px, $special-grey);
}

.card-list__additional-info{
  display: flex;
  justify-content: space-between;
}

.card-list__transports{
  display: flex;
  flex-direction: column;
}

.card-list__level{
  display: flex;
  flex-direction: column;
}

.card-list__level-number{
  @include text(24px, bold, 24px, $basic-blue-light);
}

.card-list__card{
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-width) {
    flex-direction: row;
  }
}

.card-list__card--under{
  flex-direction: column;
  @media (min-width: $medium-width) {
    margin-right: 50px;
  }

  // display: flex;
  // flex-direction: column;

  // @media (min-width: $medium-width) {
  //   flex-direction: row;
  // }
}
