.checkbox{
  position: absolute;
  z-index: -1;
  opacity: 0;

  &+label{
    display: inline-flex;
    align-items: center;
    user-select: none;
    margin: 0;
  }

  &+label::before{
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #ffffff;
    border-radius: 4px;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;

    @media (min-width: $medium-width) {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }

  &:checked+label::before{
    background-image: url(../img/check.svg);
    fill: $basic-blue;
  }

  &:not(:disabled):not(:checked)+label:hover::before, label:hover{
    opacity: 0.6;
  }

  &:not(:disabled):active+label::before{
    opacity: 0.3;
  }

  &:focus+label::before {
    opacity: 0.3;
  }

  &:focus:not(:checked)+label::before {
    opacity: 0.3;
  }

  &:disabled+label::before {
    opacity: 0.3;
  }
}

.checkbox.checkbox--large+label::before{
  margin-right: 12px;
  width: 24px;
  height: 23px;

  @media (min-width: $medium-width) {
    margin-right: 22px;
    width: 34px;
    height: 34px;
  }

  @media (min-width: $large-width) {
    margin-right: 17px;
  }
}

.checkbox.checkbox--border + label::before{
  border: 1px solid #CBCED9;
}

.checkbox.checkbox--border:not(:disabled):not(:checked)+label:hover::before, label:hover{
  opacity: 1;
}

.checkbox.checkbox--border:not(:disabled):not(:checked)+label:hover::before{
  border: 1px solid #959BB2;
}

.checkbox.checkbox--border:not(:disabled):active+label::before{
  background-color: #E2E5F1;
  opacity: 0.3;
}

.checkbox.checkbox--border:focus+label::before {
  background-color: #E2E5F1;
  opacity: 0.3;
}

.checkbox.checkbox--border:focus:not(:checked)+label::before {
  background-color: #E2E5F1;
  opacity: 0.3;
}

.checkbox.checkbox--border:disabled+label::before {
  background-color: #E2E5F1;
  opacity: 0.3;
}
