.choose-companion{
  background-color: $basic-yellow;
  position: relative;
  overflow: auto;
  padding-top: 26px;
  padding-bottom: 22px;
  border-radius: 20px;

  @media (min-width: $medium-width) {
    padding-top: 35px;
    padding-bottom: 0;
    letter-spacing: 0.02em;
  }

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    height: 515px;
  }

  @media (min-width: $large-width) {
    max-height: 788px;
    max-width: 625px;
    margin-top: 40px;
    min-width: 285px;
  }
}

.choose-companion__select-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.choose-companion__container{
  @media (min-width: $medium-width) {
    padding-left: 34px;
    padding-right: 34px;
  }

  @media (min-width: $large-width) {
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 767px;
  }
}

.choose-companion__caption{
  @include text(22px, bold, 22px, $basic-blue-light);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  letter-spacing: 0.02em;

  @media (min-width: $medium-width) {
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $large-width) {
    margin-left: 22px;
    margin-top: 10px;
  }
}

.choose-companion__list{
  margin-top: 23px;
  padding: 0;
  list-style-type: none;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    margin-top: 38px;
    padding-top: 16px;
    padding-bottom: 37px;
    border-top: 1px solid #F3C72B;
    border-bottom: 1px solid #F3C72B;
  }

  @media (min-width: $large-width) {
    margin-top: 29px;
  }
}

.choose-companion__checkboxe{
  display: flex;
  align-items: center;
  margin-top: 14px;
  margin-bottom: -4px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    margin-top: 0;
  }

  @media (min-width: $large-width) {
    margin-top: 21px;
  }
}

.choose-companion__checkboxe-text{
  margin-left: 9px;
  @include text(15px, normal, 20px, #000000);

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.choose-companion__search-params{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 14px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 24px;
  }

  @media (min-width: $large-width) {
    margin-left: 24px;
    margin-top: 6px;
  }
}

.choose-companion__transport {
  &:not(:last-child){
    margin-right: 5px;
  }

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    &:not(:last-child){
      margin-right: 3px;
    }
  }

  @media (min-width: $large-width) {
    &:not(:last-child){
      margin-right: 1px;
    }
  }
}

.choose-companion__level{
  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: flex;
    margin-top: -14px;
  }
}

.choose-companion__level-range{
  position: relative;
  display: flex;
  // justify-content: space-around;
  background: #FFFFFF;
  border: 1px solid $special-dark-grey;
  border-radius: 4px;
  margin-top: 11px;
  margin-bottom: 24px;
  padding-top: 11px;
  padding-bottom: 9px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    margin-top: 0;
    margin-bottom: 0;
    min-width: 148px;
    height: 22px;
    order: 2;
  }

  @media (min-width: $large-width) {
    margin-top: 23px;
    margin-bottom: 36px;
    margin-left: 22px;
    max-width: 192px;
    height: 24px;
  }
}

.choose-companion__range{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    width: 70%;
    margin-right: 61px;
  }
}

.choose-companion__range-dot{
  position: absolute;
  background: $basic-blue-light;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $medium-width) {
    width: 13px;
    height: 13px;
  }
}

.choose-companion__range-left-dot{
  left: 67px;

  @media (min-width: $medium-width){
    left: 125px;
  }

  @media (min-width: $large-width){
    left: 82px;
  }
}

.choose-companion__range-right-dot{
  right: 0;

  @media (min-width: $large-width) {
    right: 20px;
  }
}

.choose-companion__range-line{
  height: 2px;
  background: $basic-blue-light;
  width: 100%;
  background: linear-gradient(to right, rgba(29,46,91, 0.2) 35%, $basic-blue-light 35%);

  @media (min-width: $medium-width) {
    background: linear-gradient(to right, rgba(29,46,91, 0.2) 42%, $basic-blue-light 35%);
    height: 3px;
    border-radius: 2px;
  }

  @media (min-width: $large-width) {
    width: 83%;
    margin-left: 20px;
    background: linear-gradient(to right, rgba(29,46,91, 0.2) 33%, $basic-blue-light 25%);
  }
}

.choose-companion__range-value{
  margin-left: 47px;
  @include text(14px, 500, 13px, $basic-blue-light);
  letter-spacing: 0.06em;

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.04em;
  }

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    margin-left: 26px;
  }

  @media (min-width: $large-width) {
    margin-left: 40px;
  }
}

.choose-companion__show{
  width: 100%;
  height: 41px;
  margin-top: 18px;

  @media (min-width: $medium-width) {
    height: 50px;
  }

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    margin-top: 36px;
  }

  @media (min-width: $large-width) {
    margin-top: 27px;
    margin-bottom: 20px;
    margin-left: 24px;
    width: 81%;
  }
}

.choose-companion__show-caption{
  @include text(17px, bold, 17px, $basic-blue);
  text-transform: uppercase;
  margin-left: 10px;

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: 3px;
  }

  @media (min-width: $large-width) {
    margin-left: 15px;
    margin-top: 0;
  }
}

.choose-companion__transport-button{
  padding: 5px;

  @media (min-width: $medium-width) {
    padding: 10px;
  }
}

.choose-companion__transport-icon{
  width: 18px;
  height: 20px;

  @media (min-width: $medium-width) {
    width: 23px;
    height: 23px;
  }
}

.choose-companion__search-params-toggle{
  margin-right: -7px;
  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: none;
  }

  @media (min-width: $large-width) {
    margin-right: 16px;
    margin-top: -12px;
  }
}

.choose-companion__visually-hidden{
  @media (max-width: $small-max-width) {
    display: none;
  }

  @media (min-width: $large-width) {
    display: none;
  }
}

.choose-companion__item{
  border-top: 1px solid #F3C72B;
  // should be padding for mobile version
  padding-top: 12px;
  padding-bottom: 8px;

  @media (min-width: $medium-width) {
    border: none;
  }

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: flex;
    align-items: center;
    &:not(:first-child){
      padding-top: 8px;
    }
    padding-bottom: 0;
  }

  @media (min-width: $large-width) {
    padding-top: 19px;
    padding-bottom: 16px;
  }
}

.choose-companion__select{
  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    margin-top: 8px;
  }
}

.choose-companion__select-text{
  @include text(16px, bold, 18px, $basic-blue-light);

  @media (min-width: $medium-width) {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    margin-top: -15px;
  }

  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    &::after{
      content: ":";
    }
  }

  @media (min-width: $large-width) {
    margin-left: 22px;
  }

  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.choose-companion-select__header{
  display: flex;
  justify-content: space-between;
}

.choose-companion__transports{
  justify-content: flex-start;
  margin-top: 17px;
  margin-left: 3px;
  margin-bottom: 12px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    margin-top: -4px;
    margin-left: 14px;
  }

  @media (min-width: $large-width) {
    margin-top: 21px;
    margin-left: 23px;
  }
}

.choose-companion__range-icon{
  position: relative;
  margin-left: 46px;
  margin-right: -5px;

  @media (min-width: $medium-width) {
    margin-left: 25px;
    margin-right: -7px;
  }

  @media (min-width: $large-width) {
    margin-left: 34px;
    margin-right: -12px;
  }
}

.choose-companion__vertical-line{
  position: absolute;
  width: 1px;
  height: 13px;
  background-color: $special-dark-grey;
  top: -14px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    height: 15px;
  }
}

.choose-companion__vertical-line--bottom{
  top: auto;
  bottom: -9px;
}

.choose-companion__horizontal-line{
  position: absolute;
  width: 16px;
  height: 1px;
  top: 4px;
  left: -7px;
  background-color: $special-dark-grey;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    width: 21px;
    top: 7px;
    left: -9px;
  }
}
