.choose-companion{
  background-color: $basic-yellow;
  padding-top: 26px;
  padding-bottom: 22px;
  border-radius: 20px;

  @media (min-width: $medium-width) {
    // max-height: 550px;
    // max-width: 100%;
  }

  @media (min-width: $large-width) {
    max-height: 815px;
    max-width: 625px;
    margin-top: 40px;
  }
}

.choose-companion__caption{
  @include text(22px, bold, 22px, $basic-blue-light);
  letter-spacing: 0.02em;
}

.choose-companion__list{
  margin-top: 35px;
  padding: 0;
  list-style-type: none;
}

.choose-companion__br{
  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: none;
  }
}

.choose-companion__checkboxes{
  display: flex;
  flex-direction: column;
}

.choose-companion__checkboxe{
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.choose-companion__checkboxe-text{
  margin-left: 9px;
}
