.companions{
  margin-top: 28px;
  display: flex;
  flex-direction: column;

  @media (min-width: $large-width) {
    margin-right: 86px;
  }
}

.companions__container{
  padding-bottom: 116px;

  @media (min-width: $medium-width) {
    padding-bottom: 132px;
  }

  @media (min-width: $large-width) {
    padding-bottom: 144px;
  }
}

.companions__navigation-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  @media (min-width: $medium-width) {
    width: 100%;
  }
}

.companions__pages{
  display: none;

  @media (min-width: $medium-width) {
    display: flex;
  }
}

.filter__continents-list{
  display: none;

  @media (min-width: $medium-width) {
    display: flex;
    list-style-type: none;
  }
}

.companions__navigation{
  margin-top: 18px;
  background-color: #ffffff;
  @media (min-width: $medium-width) {
    display: flex;
    margin-top: 60px;
  }

  @media (min-width: $large-width) {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
   }
}

.companions__card{
  width: 100%;

  @media (min-width: $medium-width) {
   flex-direction: column;
  }

  @media (min-width: $large-width) {
    flex-direction: column;
    flex-wrap: wrap;
   }
}

.companions__item{
  position: relative;
  min-width: 270px;
  margin-bottom: 10px;

  @media (min-width: $medium-width) {
    min-width: 690px;
    margin-bottom: 40px;
  }

  @media (min-width: $large-width) {
    min-width: 950px;
    max-height: 285px;
  }
}

.companions__flags{
  order: 3;
  margin-top: 20px;

  @media (min-width: $medium-width) {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin-left: -220px;
  }

  @media (min-width: $large-width) {
    flex-direction: column;
    align-items: flex-start;
    // margin-top: 0;
    margin-left: auto;
  }
}

.companions__additional-info{
  order: 4;
  @media (min-width: $medium-width) {
    flex-direction: column;
    margin-left: auto;
    margin-top: -130px;
    margin-bottom: 80px;
    order: 2;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
    margin-top: auto;
    margin-bottom: 0;
    order: 3;
  }
}

.companiouns__want-visit{
  order: 1;
  margin-top: 20px;
  // width: 100%;

  @media (min-width: $medium-width) {
    text-align: start;
    order: 3;
    margin-top: 0;
    margin-left: -180px;
  }

  @media (min-width: $large-width) {
    display: none;
  }

  // &::before,
  // &::after {
  //   display: inline-block;
  //   content: "";
  //   border-top: .1rem solid black;
  //    width: 30%;
  //   // margin: 0 1rem;
  //   transform: translateY(-0.2rem);
  // }
}

.companions__buttons{
  order: 5;
  @media (min-width: $medium-width) {
    margin-top: 50px;
    order: 0;
  }

  @media (min-width: $large-width) {
    margin-top: auto;
  }
}

.companions__avatar{
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  min-height: 70px;
  min-width: 70px;

  @media (min-width: $medium-width){
    position: static;
    margin-top: 35px;
    margin-left: 35px;
    min-height: 190px;
    min-width: 190px;
  }

  @media (min-width: $large-width){
    margin-top: 0;
    margin-left: 0;
    min-height: 285px;
    min-width: 285px;
  }
}

.companions__user{
  margin-left: 100px;

  @media (min-width: $medium-width) {
    margin-left: 0;
  }
}

.companions__hashtags{
  display: flex;
  margin-top: 40px;

  @media (min-width: $medium-width) {
    margin-top: 20px;
  }
}

.companions__likes{
  top: 0;
  position: absolute;
  margin-top: 60px;
  margin-left: 50px;

  @media (min-width: $medium-width) {
    margin-top: 0;
    margin-left: 0;
    position: static;
  }
}

.companions__card-list{
  flex-direction: row;

  @media (min-width: $medium-width) {
    flex-direction: column;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
    justify-content: flex-start;
  }
}

.companions__page{
  padding: 12px;

  @media (min-width: $medium-width) {
    padding: 21px;
  }
  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    background-color: $basic-yellow;
    border-radius: 50%;
  }
}


.companions__button{
  &:hover{
    background-color: transparent;
  }
  &:active, &:focus{
    background-color: transparent;
    opacity: 0.3;
  }
}

.companions__flag{
  width: 26px;
  height: 18px;

  @media (min-width: $medium-width) {
    width: 35px;
    height: 24px;
  }
}

.companions__plain{
  position: absolute;
  margin-left: -40px;
  margin-top: 0;

  @media (min-width: $medium-width) {
    margin-left: -70px;
  }
}

.companions__plain-1{
  &:hover{
    .companions__plain--visible-1{
      display: block;
    }
  }
}

.companions__plain--visible-1{
  display: none;
}

.companions__plain-2{
  &:hover{
    .companions__plain--visible-2{
      display: block;
    }
  }
}

.companions__plain--visible-2{
  display: none;
}

.companions__plain-3{
  &:hover{
    .companions__plain--visible-3{
      display: block;
    }
  }
}

.companions__plain--visible-3{
  display: none;
}

.companions__plain-4{
  &:hover{
    .companions__plain--visible-4{
      display: block;
    }
  }
}

.companions__plain--visible-4{
  display: none;
}

.companions__bus{
  position: absolute;
  margin-left: -50px;
  margin-top: 0;

  @media (min-width: $medium-width) {
    margin-left: -82px;
  }
}

.companions__bus-1{
  &:hover{
    .companions__bus--visible-1{
      display: block;
    }
  }
}

.companions__bus--visible-1{
  display: none;
}

.companions__bus-2{
  &:hover{
    .companions__bus--visible-2{
      display: block;
    }
  }
}

.companions__bus--visible-2{
  display: none;
}

.companions__bus-3{
  &:hover{
    .companions__bus--visible-3{
      display: block;
    }
  }
}

.companions__bus--visible-3{
  display: none;
}

.companions__bus-4{
  &:hover{
    .companions__bus--visible-4{
      display: block;
    }
  }
}

.companions__bus--visible-4{
  display: none;
}

.companions__bicycle{
  position: absolute;
  margin-left: -30px;
  margin-top: 0;

  @media (min-width: $medium-width) {
    margin-left: -58px;
  }
}

.companions__bicycle-1{
  &:hover{
    .companions__bicycle--visible-1{
      display: block;
    }
  }
}

.companions__bicycle--visible-1{
  display: none;
}

.companions__bicycle-2{
  &:hover{
    .companions__bicycle--visible-2{
      display: block;
    }
  }
}

.companions__bicycle--visible-2{
  display: none;
}

.companions__bicycle-3{
  &:hover{
    .companions__bicycle--visible-3{
      display: block;
    }
  }
}

.companions__bicycle--visible-3{
  display: none;
}

.companions__bicycle-4{
  &:hover{
    .companions__bicycle--visible-4{
      display: block;
    }
  }
}

.companions__bicycle--visible-4{
  display: none;
}

.companions__walk{
  position: absolute;
  margin-left: -20px;
  margin-top: 0;

  @media (min-width: $medium-width) {
    margin-left: -45px;
  }
}

.companions__walk-1{
  &:hover{
    .companions__walk--visible-1{
      display: block;
    }
  }
}

.companions__walk--visible-1{
  display: none;
}

.companions__walk-2{
  &:hover{
    .companions__walk--visible-2{
      display: block;
    }
  }
}

.companions__walk--visible-2{
  display: none;
}

.companions__walk-3{
  &:hover{
    .companions__walk--visible-3{
      display: block;
    }
  }
}

.companions__walk--visible-3{
  display: none;
}

.companions__walk-4{
  &:hover{
    .companions__walk--visible-4{
      display: block;
    }
  }
}

.companions__walk--visible-4{
  display: none;
}
