.companions-operations{
  display: flex;
  flex-direction: column;
  margin-top: 20px;

  @media (min-width: $medium-width) {
    margin-top: 40px;
  }

  @media (min-width: $large-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.companions-operations__button{
  &:hover{
    background-color: transparent;
    opacity: 0.6;
  }

  &:active, &:focus{
    background-color: transparent;
    opacity: 0.3;
  }
}
