.companions-operations{
  display: flex;
  flex-direction: column;
  margin-top: 21px;

  @media (min-width: $medium-width) {
    margin-top: 40px;
  }

  @media (min-width: $large-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.companions-operations__button{
  justify-content: center;
  align-items: center;
  &:hover{
    background-color: transparent;
    opacity: 0.6;
  }

  &:active, &:focus{
    background-color: transparent;
    opacity: 0.3;
  }
}

.companions-operations__icon{
  padding-right: 15px;
}
