.companions{
  margin-top: 28px;
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-width) {
    margin-top: 41px;;
  }

  @media (min-width: $large-width) {
    margin-right: 86px;
  }
}

.companions__navigation-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 51px;
}

.companions__pages{
  display: none;

  @media (min-width: $medium-width) {
    display: flex;
    margin-left: 26px;
  }
}

.companions__navigation{
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 20px;

  @media (min-width: $medium-width) {
    display: flex;
    margin-top: 54px;
    height: 100px;
  }

  @media (min-width: $large-width) {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 73px;
   }
}

.companions__card{
  position: relative;
  width: 100%;
  @include text(15px, normal, 16px, $special-grey);

  @media (min-width: $medium-width) {
   flex-direction: column;
   margin-top: 1px;
   padding-bottom: 0;
  }

  @media (min-width: $large-width) {
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-left: 65px;
   }
}

.companions__item{
  position: relative;
  min-width: 270px;
  margin-bottom: 10px;
  padding-bottom: 2px;
  border-radius: 20px;

  @media (min-width: $medium-width) {
    min-width: 690px;
    margin-bottom: 40px;
  }

  @media (min-width: $large-width) {
    min-width: 950px;
    max-height: 285px;
    padding-bottom: 0;
    margin-bottom: 30px;
  }

  &:hover{
    transform: scale(1.01, 1.01);
    box-shadow: 0 4px 2px -2px gray;
  }
}

.companions__flags{
  order: 3;
  margin-top: 18px;
  margin-left: 4px;
  min-height: 54px;

  @media (min-width: $medium-width) {
    display: flex;
    margin-top: 20px;
    margin-left: -225px;
    margin-bottom: -5px;
  }

  @media (min-width: $large-width) {
    margin-top: 0;
    min-height: 95px;
    max-width: 210px;
    margin-left: 48px;
    flex-direction: column;
    align-items: flex-start;
  }
}

.companions__additional-info{
  order: 4;
  margin-top: 10px;
  margin-left: -6px;

  @media (min-width: $medium-width) {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-top: -192px;
    margin-bottom: 40px;
    padding-right: 18px;
    order: 2;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
    margin-top: 42px;
    margin-bottom: 0;
    order: 3;
  }
}

.companions__want-visit{
  order: 1;
  background-color: #ffffff;
  z-index: 1;
  width: 110px;
  margin-top: 16px;
  margin-left: -7px;
  padding-left: 12px;

  @media (min-width: $medium-width) {
    text-align: start;
    order: 3;
    margin-top: -15px;
    margin-left: -189px;
  }

  @media (min-width: $large-width) {
    display: none;
  }
}

.companions__want-visit-line {
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;

  @media (min-width: $medium-width) {
    top: 253px;
    left: -225px;
  }

  @media (min-width: $large-width) {
    display: none;
  }
}

.companions__transport-line {
  position: absolute;
  bottom: 134px;
  left: 0;
  right: 0;

  @media (min-width: $medium-width) {
    display: none;
  }

  @media (min-width: $large-width) {
    display: none;
  }
}

.companions__buttons{
  order: 5;
  margin-top: -6px;
  @media (min-width: $medium-width) {
    margin-top: 49px;
    margin-left: -5px;
    order: 0;
  }

  @media (min-width: $large-width) {
    margin-top: -4px;
    margin-left: -10px;
  }
}

.companions__avatar{
  position: absolute;
  margin-top: 14px;
  margin-left: 18px;
  min-height: 70px;
  min-width: 70px;

  @media (min-width: $medium-width){
    position: static;
    margin-top: 35px;
    margin-left: 35px;
    min-height: 190px;
    min-width: 190px;
  }

  @media (min-width: $large-width){
    margin-top: 0;
    margin-left: 0;
    min-height: 285px;
    min-width: 285px;
  }
}

.companions__user{
  position: relative;
  margin-top: -3px;
  margin-left: 84px;
  max-width: 100px;

  @media (min-width: $medium-width) {
    max-width: 225px;
    margin-left: -2px;
    margin-top: -5px;
  }
}

.companions__hashtags{
  display: flex;
  margin-top: 44px;
  margin-left: 5px;
  min-height: 36px;
  max-width: 175px;

  @media (min-width: $medium-width) {
    margin-top: 17px;
    max-width: 226px;
    margin-left: 0px;
  }

  @media (min-width: $large-width) {
    margin-top: 19px;
  }
}

.companions__likes{
  top: 0;
  position: absolute;
  margin-top: 54px;
  margin-left: 48px;

  @media (min-width: $medium-width) {
    margin-top: 0;
    margin-left: 0;
    position: static;
  }
}

.companions__likes-count{
  margin-left: 5px;
}

.companions__card-list{
  flex-direction: row;
  margin-top: 16px;
  margin-left: 5px;

  @media (min-width: $medium-width) {
    flex-direction: column;
    margin-top: 0;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
    margin-right: 46px;
  }
}

.companions__page{
  padding: 12px;

  @media (min-width: $medium-width) {
    padding: 21px;
    @include text(20px, bold, 20px, $basic-blue-light);
    text-transform: uppercase;
  }

  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    background-color: $basic-yellow;
    border-radius: 50%;
  }
}


.companions__button{
  @media (min-width: $medium-width) {
    margin-left: 22px;
  }

  &:hover{
    background-color: transparent;
  }
  &:active, &:focus{
    background-color: transparent;
    opacity: 0.3;
  }
}

.companions__button--right-arrow{
  margin-right: 30px;

  @media (min-width: $medium-width) {
    margin-right: 3px;
  }
}

.companions__flag{
  width: 26px;
  height: 18px;

  @media (min-width: $medium-width) {
    width: 35px;
    height: 24px;
  }
}

.companions__plain{
  position: absolute;
  margin-left: -40px;
  margin-top: 0;

  @media (min-width: $medium-width) {
    margin-left: -70px;
  }
}

.companions__plain-1{
  &:hover{
    .companions__plain--visible-1{
      display: block;
    }
  }
}

.companions__plain--visible-1{
  display: none;
}

.companions__plain-2{
  &:hover{
    .companions__plain--visible-2{
      display: block;
    }
  }
}

.companions__plain--visible-2{
  display: none;
}

.companions__plain-3{
  &:hover{
    .companions__plain--visible-3{
      display: block;
    }
  }
}

.companions__plain--visible-3{
  display: none;
}

.companions__plain-4{
  &:hover{
    .companions__plain--visible-4{
      display: block;
    }
  }
}

.companions__plain--visible-4{
  display: none;
}

.companions__bus{
  position: absolute;
  margin-left: -50px;
  margin-top: 0;

  @media (min-width: $medium-width) {
    margin-left: -82px;
  }
}

.companions__bus-1{
  &:hover{
    .companions__bus--visible-1{
      display: block;
    }
  }
}

.companions__bus--visible-1{
  display: none;
}

.companions__bus-2{
  &:hover{
    .companions__bus--visible-2{
      display: block;
    }
  }
}

.companions__bus--visible-2{
  display: none;
}

.companions__bus-3{
  &:hover{
    .companions__bus--visible-3{
      display: block;
    }
  }
}

.companions__bus--visible-3{
  display: none;
}

.companions__bus-4{
  &:hover{
    .companions__bus--visible-4{
      display: block;
    }
  }
}

.companions__bus--visible-4{
  display: none;
}

.companions__bicycle{
  position: absolute;
  margin-left: -30px;
  margin-top: 0;

  @media (min-width: $medium-width) {
    margin-left: -58px;
  }
}

.companions__bicycle-1{
  &:hover{
    .companions__bicycle--visible-1{
      display: block;
    }
  }
}

.companions__bicycle--visible-1{
  display: none;
}

.companions__bicycle-2{
  &:hover{
    .companions__bicycle--visible-2{
      display: block;
    }
  }
}

.companions__bicycle--visible-2{
  display: none;
}

.companions__bicycle-3{
  &:hover{
    .companions__bicycle--visible-3{
      display: block;
    }
  }
}

.companions__bicycle--visible-3{
  display: none;
}

.companions__bicycle-4{
  &:hover{
    .companions__bicycle--visible-4{
      display: block;
    }
  }
}

.companions__bicycle--visible-4{
  display: none;
}

.companions__walk{
  position: absolute;
  margin-left: -20px;
  margin-top: 0;

  @media (min-width: $medium-width) {
    margin-left: -45px;
  }
}

.companions__walk-1{
  &:hover{
    .companions__walk--visible-1{
      display: block;
    }
  }
}

.companions__walk--visible-1{
  display: none;
}

.companions__walk-2{
  &:hover{
    .companions__walk--visible-2{
      display: block;
    }
  }
}

.companions__walk--visible-2{
  display: none;
}

.companions__walk-3{
  &:hover{
    .companions__walk--visible-3{
      display: block;
    }
  }
}

.companions__walk--visible-3{
  display: none;
}

.companions__walk-4{
  &:hover{
    .companions__walk--visible-4{
      display: block;
    }
  }
}

.companions__walk--visible-4{
  display: none;
}

.companions__page-buttons{
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 60px;

  @media (max-width: $medium-max-width) {
    width: 100%;
    padding-right: 28px;
  }

  @media (min-width: $medium-width) {
    justify-content: flex-end;
  }

  @media (min-width: $large-width) {
    padding-right: 36px;
  }
}

.companions__level{
  @media (min-width: $medium-width) {
    margin-top: 16px;
    transform: scale(1.4);
  }

  @media (min-width: $large-width) {
    margin-top: 7px;
    margin-right: 18px;
  }
}

.companions__level-icon{
  width: 46px;
  height: 45px;
  fill: none;
  margin-right: -8px;

  @media (max-width: $small-max-width) {
    margin-top: 10px;
  }
}

.companions__level-icon--small{
  @media (min-width: $medium-width) {
    display: none;
  }
}

.companions__level-icon--medium{
  display: none;
  @media (min-width: $medium-width) {
    display: block;
  }
}

.companions__user-level-icon{
  stroke: #FF8D30;
  stroke-width: 3;
  stroke-linecap: round;
}

.companions__level-number{
  fill: $basic-blue-light;
  @include text(24px, bold, 24px);
}

.companions__level-line{
  opacity: 0.1;
  stroke: #000000;
}


.companions__level-text{
  background-color: #ffffff;
  z-index: 1;
  padding-left: 14px;
  padding-right: 5px;

  @media (min-width: $medium-width) {
    display: none;
  }
}

.companions__level-icon-text{
  @include text(14px, normal, 14px);
  opacity: 0.4;
  fill: #000000;
}

.companions__call{
  height: 40px;
  @include text(17px, bold, 17px, $basic-blue);
  text-transform: uppercase;

  @media (max-width: $small-max-width) {
    width: 100%;
    margin-top: 20px;
  }

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
    min-width: 150px;
    height: 50px;
  }
}

.companions__inline-card-item{
  margin-right: 2px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    margin-right: 0;
  }
}

.companions__button-like{
  width: 31px;
  height: 31px;

  @media (min-width: $medium-width) {
   width: 50px;
   height: 50px;
  }
}

.companions__like{
  padding: 0;
  width: 12px;
  height: 12px;
  stroke: #192144;
  opacity: 0.5;

  @media (min-width: $medium-width) {
    width: 20px;
    height: 18px;
  }
}

.companions__like--enabled{
  opacity: 1;
  stroke: none;
}

.companions__online-status{
  position: absolute;
  top: 21px;
  left: 241px;

  @media (min-width: $medium-width) {
    left: 244px;
    top: 42px;
  }

  @media (min-width: $large-width) {
    left: -18px;
  }
}

.companions__icon-background{
  background-color: $basic-grey;
  padding: 6px;
  border-radius: 50%;

  @media (min-width: $medium-width) {
    background: none;
  }
}

.companions__icon{
  width: 13px;
  height: 16px;

  @media (min-width: $medium-width) {
    width: 23px;
    height: 22px;
  }

  @media (min-width: $large-width) {
    width: 19px;
    height: 20px;
  }
}

.companions__vertical-line{
  position: absolute;
  top: -17px;
  left: 50%;
  width: 1px;
  height: 51px;
  background-color: $basic-grey;

  @media (min-width: $medium-width) {
    display: none;
  }
}

.companions__name{
  position: relative;
  font-size: 20px;
  line-height: 20px;

  @media (min-width: $medium-width) {
    font-size: 30px;
    line-height: 30px;
  }

  &::after{
    position: absolute;
    content: "";
    width: 7px;
    height: 7px;
    background-color: #f97676;
    border-radius: 50%;
    margin-left: 23px;
    top: 10px;
    left: 114px;

    @media (min-width: $medium-width) {
      margin-left: 23px;
      top: 12px;
      left: auto;
    }

    @media (min-width: $large-width) {
      display: none;
    }
  }

  &::before{
    @media (min-width: $large-width) {
      position: absolute;
      content: "";
      width: 7px;
      height: 7px;
      background-color: #f97676;
      border-radius: 50%;
      top: 11px;
      left: -26px;
    }
  }
}

.companions__name--online.companions__name::after, .companions__name--online.companions__name::before{
  background-color: #BBF085;
}
