.container{
  margin: 0 auto;
  padding-left: 25px;
  padding-right: 25px;
  max-width: $small-max-width;

  @media (min-width: $medium-width) {
    max-width: $medium-max-width;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $large-width) {
    max-width: $large-width;
    padding-left: 60px;
    padding-right: 60px;
  }
}
