.contacts{
  padding-top: 33px;
  background-color: $basic-yellow;
  position: relative;
}

.contacts__get-direction{
  display: flex;
  flex-direction: column;
  padding-bottom: 57px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

  @media (min-width: $medium-width) {
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}

.contacts__addres{
  color: $basic-blue-light;
  line-height: 22px;

  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.contacts__map-icon{
  background-color: $blue;
  fill: $basic-yellow;
  @media (min-width: $medium-width) {
    width: 23px;
    height: 21px;
  }
}

.contacts__new-line{
  @media (min-width: $medium-width) {
    display: none;
  }
}


.contacts__map{
  width: 100%;
}

.contacts__map--small{
  @media (min-width: $medium-width) {
    display: none;
  }
}

.contacts__map--medium{
  display: none;
  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: block;
  }
}

.contacts__map--large{
  display: none;
  @media (min-width: $large-width) {
    display: block;
  }
}

.contacts__map-point{
  display: block;
  position: absolute;
  top: 45%;
  left: 45%;
  @media (min-width: $medium-width) and(max-width:$medium-max-width) {
    display: none;
  }

}

.contacts__build-way{
  display: flex;
  justify-content: space-between;
  height: 62px;
  width: 100%;
  border: 3px solid #192144;
  box-sizing: border-box;
  border-radius: 10px;

  @media (min-width: $large-width) {
    width: 324px;
  }

  &:hover{
    background: #192144;
    .contacts__wat-text{
      color: #ffffff;
    }
  }

  &:active, &:focus{
    background: #192144;
    .contacts__wat-text{
      color: #ffffff;
      opacity: 0.3;
    }
  }
}
