.continents-list{

}

.filter__text{

}

.continents-list__item{
  @media (max-width: $small-max-width) {
    &:not(:last-child){
      margin-bottom: 9px;
    }
  }

  @media (min-width: $medium-width) {
    margin-right: 28px;
  }

  opacity: 0.3;

  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    opacity: 1;
  }
}

.continents-list__item--active{
  opacity: 1;
}
