.contacts{
  padding-top: 33px;
  background-color: $basic-yellow;
  padding-bottom: 35px;
}

.contacts__get-direction{
  display: flex;
  flex-direction: column;
  @media (min-width: $medium-width) {
    flex-direction: row;
    align-items: center;
  }
}

.contacts__addres{
  color: $basic-blue-light;
  line-height: 22px;
}

.contacts__map-icon{
background-color: $blue;
fill: $basic-yellow;
}

.contacts__new-line{
  @media (min-width: $medium-width) {
    display: none;
  }
}
