.continents-list{

}

.filter__text{

}

.continents-list__item{
  margin-right: 28px;
  opacity: 0.3;

  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    opacity: 1;
  }
}

.continents-list__item--active{
  opacity: 1;
}
