.contacts{
  padding-top: 33px;
  background-color: $basic-yellow;
  padding-bottom: 35px;
}

.contacts__addres{
  color: $basic-blue-light;
  line-height: 22px;
}

.contacts__map-icon{
background-color: $blue;
fill: $basic-yellow;
}
