.country-description-list{
  padding: 0;
}

.country-description-list__caption{
  @include text(18px, 500, 18px, $basic-blue-light);
}

.country-description-list__country{
  display: flex;
  justify-content: space-between;
}

.country-description-list__change-text{
  @include text(16px, normal, 22px, $special-grey);

  &:hover{
    .country-description-list__change-text::placeholder{
      font-size: 20px;
    }
  }

  &:active, &:focus{
    background: #E2E5F1;
  }
}

.country-description-list__change-text::placeholder{
  font-family: Blogger Sans;
  font-style: normal;
  @include text(16px, normal, 22px, $special-grey);
  opacity: 0.3;
}
