.country-description-list{
  padding: 0;

  @media (min-width: $medium-width) {
    width: 90%;
    margin-top: 27px;
  }

  @media (min-width: $large-width) {
    width: auto;
    margin-top: 75px;
  }
}

.country-description-list__item{
  position: relative;
  &:not(:last-child){
    margin-bottom: 10px
  }

  @media (min-width: $large-width) {
    max-width: 90%;
  }
}

.country-description-list__caption{
  @include text(18px, 500, 18px, $basic-blue-light);
  margin-block-start: 0;
  margin-block-end: 0;

  @media (min-width: $medium-width) {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;
  }
}

.country-description-list__country{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 18px;
}

.country-description-list__change-text{
  border: 1px solid $special-dark-grey;
  border-radius: 4px;
  padding-top: 11px;
  padding-left: 14px;
  @include text(16px, normal, 22px, $special-grey);
  width: 100%;
  height: 220px;

  @media (min-width: $medium-width) {
    padding-top: 18px;
    padding-left: 19px;
    font-size: 20px;
    line-height: 23px;
    height: 140px;
  }

  @media (min-width: $large-width) {
    padding-top: 26px;
    padding-left: 25px;
    font-size: 20px;
    line-height: 23px;
    height: 142px;
    max-width: 730px;
  }

  &:hover{
    border: 1px solid $special-light-grey;
  }

  &::placeholder{
    font-family: Blogger Sans;
    font-style: normal;
    @include text(16px, normal, 22px, $special-grey);
    opacity: 0.3;
  }

  &:active, &:focus{
    border: 1px solid $dark-blue;
    .country-description-list__change-text::placeholder{
      opacity: 1;
    }
  }
}

.country-description-list__text-invalid-border{
  border: 1px solid #F47E7E;
}

.country-description-list__change-text-invalid{
  position: absolute;
  bottom: 6px;
  left: 2px;
  right: -16px;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 21px;
  // margin-left: 21px;
  background-color: #FFEFEF;

  @media (min-width: $medium-width) {
    bottom: 6px;
    left: 2px;
    right: -21px;
  }

}

// .country-description-list__change-text:invalid + .country-description-list__change-text-invalid{
//   // position: absolute;
//   // bottom: 10px;
//   // left: 10px;
//   // background-color: #FFEFEF;
//   // width: 100%;
//   // display: block;
// }

// .country-description-list__change-text::after{
//   position: absolute;
//   content: "Тест";
//   bottom: 10px;
//   left: 10px;
//   background-color: #FFEFEF;
//   width: 100%;
//   display: block;
// }

// .country-description-list__change-text:invalid + .country-description-list__change-text::after{
//   position: absolute;
//   content: "Тест";
//   bottom: 10px;
//   left: 10px;
//   background-color: #FFEFEF;
//   width: 100%;
//   display: block;
// }

.country-description-list__flag{
  width: 35px;
  height: 24px;

  @media (min-width: $medium-width) {
    width: 70px;
    height: 47px;
  }
}
