.countries{
  position: relative;
  z-index: 9;
  margin-top: -30px;
  background-color: $basic-grey;
  padding-bottom: 36px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $medium-width) {
    margin-top: -55px;
    padding-bottom: 80px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-image: url(../img/flags-background-medium.webp);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 80px right 40px;
  }

  @media (min-width: $large-width) {
    background-image: url(../img/flags-background-large.webp);
    background-position: top 88px right 60px;
  }

  @media (min-resolution: 2dppx) and (min-width: $medium-width) {
    background-image: url(../img/flags-background-medium@2x.webp);
  }

  @media (min-resolution: 2dppx) and (min-width: $large-width) {
    background-image: url(../img/flags-background-large@2x.webp);
  }
}

.countries__container{
  padding-top: 101px;

  @media (min-width:$medium-width) {
    padding-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: $large-width) {
    position: relative;
    padding-top: 246px;
  }
}

.countries__header{
  margin-left: 25px;
  max-width: 380px;

  @media (min-width: $medium-width) {
    margin-left: 35px;
  }

  @media (min-width: $large-width) {
    margin-left: 170px;
  }
}

.countries__header-text{
  @media (min-width: $medium-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

.countries__list{
  margin-top: 60px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  flex-direction: column;

  @media (min-width: $medium-width) {
    align-items: center;
    margin-bottom: 46px;
    margin-top: 64px;
    margin-left: -35px;
    padding-top: 38px;
    padding-left: 35px;
    background-image: url(../img/background-light-medium.webp);
    background-repeat: no-repeat;
    background-size: 141px 141px;
    background-position: top left;
  }

  @media (min-width: $large-width) {
    background-image: url(../img/background-light-large.webp);
    margin-top: -71px;
    margin-left: -70px;
    padding-top: 71px;
    padding-left: 70px;
  }

  @media (min-resolution: 2dppx) and (min-width: $medium-width) {
    background-image: url(../img/background-light-medium@2x.webp);
  }

  @media (min-resolution: 2dppx) and (min-width: $large-width) {
    background-image: url(../img/background-light-large@2x.webp);
  }
}

.countries__all-countries{
  width: 100%;
  height: 61px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $medium-width) {
    width: 618px;
  }

  @media (min-width: $large-width) {
    position: absolute;
    top: 532px;
    left: 62%;
    width: 275px;
  }
}

.countries__info{
  @include text(16px, 300, 22px, $special-grey);
  margin-top: 19px;

  @media (max-width: $small-max-width) {
    max-width: 195px;
  }

  @media (min-width: $medium-width) {
    margin-top: 57px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $large-width) {
    margin-top: 58px;
  }
}

.countries__collection{
  display: flex;
  flex-direction: column;

  @media (min-width: $large-width) {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.countries__card-info{
  background-color: #ffffff;
  text-align: left;
  margin-top: -14px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

.countries__flag{
  position: absolute;
  margin-top: -14px;
  margin-left: 25px;
  height: 24px;
  width: 35px;

  @media (min-width: $medium-width) {
    position: absolute;
    height: 47px;
    width: 70px;
    left: 375px;
    top: 31px;
  }

  @media (min-width: $large-width) {
    left: 318px;
    top: 37px;
  }
}

.countries__visits{
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.countries__cards{
  @media (min-width: $medium-width) {
    position: relative;
    max-height: 140px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.countries__description{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 24px;

  @media (min-width: $medium-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }
}

.countries__caption{
  margin-top: 2px;

  @media (min-width: $medium-width) {
    margin-top: 5px;
  }
}

.countries__visists-count{
  min-width: 59px;
  margin-right: 25px;

  @media (min-width: $medium-width) {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 25px;
  }
}

.countries__photo{
  width: 100%;

  @media (min-width: $medium-width) {
    position: absolute;
    right: 0;
    height: 140px;
    width: 550px;
  }

  @media (min-width: $large-width) {
    width: 559px;
  }
}

.countries__item{
  position: relative;
  width: 100%;
  height: 190px;
  margin-bottom: 9px;
  // padding-bottom: 24px;

  @media (min-width: $medium-width) {
    padding-bottom: 0;
    margin-bottom: 10px;
    min-width: 616px;
    max-width: 730px;
    max-height: 140px;
  }

  @media (min-width: $large-width) {
    min-width: 559px;
  }
}

.countries__item:last-child:after{
  @media (min-width: $large-width) {
    position: absolute;
    bottom: -10px;
    height: 81px;
    width: 100%;
    content: "";
    background-image: url(../img/fade.webp);
    pointer-events: none; /* so the text is still selectable */
  }
  @media (min-resolution: 2dppx) and (min-width: $large-width) {
    background-image: url(../img/fade@2x.webp);
  }

}

.countries__user-icon{
  opacity: 0.1;
}

.countries__count{
  @include text(16px, 500, 18px, $special-grey);
  opacity: 0.3;
}
