.country-list{
  padding-inline-start: 0;
}

.country-list__item{
  display: inline-block;
  @include text(16px, bold, 16px, $basic-blue-light);

  @media (min-width: $medium-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.country-list__comma{
  &:after{
    content: ", "
  }
}
