.countries{
  background-color: $basic-grey;
  padding-bottom: 25px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

  @media (min-width: $medium-width) {
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
  }
}

.countries__container{
  padding-top: 71px;

  @media (min-width:$medium-width) {
    background-image: url(../../img/flags-background.png);
    // background-size:     contain;
    background-repeat:   no-repeat;
    background-position: top right;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.countries__header{
  margin-left: 25px;
  max-width: 380px;

  @media (min-width: $medium-width) {
    margin: 0 auto;
  }

  @media (min-width: $large-width) {
    padding-top: 50px;
    margin-left: 170px;
  }
}

.countries__header-text{
  @media (min-width: $medium-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

.countries__list{
  margin-top: 60px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  @media (min-width: $medium-width) {
    align-items: center;
  }
}

.countries__all-countries{
  width: 270px;
  height: 61px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $medium-width) {
    width: 618px;
  }

  @media (min-width: $large-width) {
    width: 275px;
  }
}

.countries__info{
  @include text(16px, 300, 22px, $special-grey);

  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

.countries__collection{
  display: flex;
  flex-direction: column;

  @media (min-width: $large-width) {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.countries__card-info{
  text-align: left;

  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

.countries__flag{
  margin-top: -10px;
  margin-left: 25px;
  height: 24px;
  width: 35px;

  @media (min-width: $medium-width) {
    height: 47px;
    width: 70px;
    margin-top: -45px;
    margin-left: 510px;
  }

  @media (min-width: $large-width) {
    margin-left: 550px;
  }
}

.countries__visits{
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.countries__cards{
  @media (min-width: $medium-width) {
    max-height: 140px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.countries__description{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 26px;

  @media (min-width: $medium-width) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.countries__visists-count{
  min-width: 50px;
  margin-right: 25px;

  @media (min-width: $medium-width) {
    margin-right: 0;
    margin-left: 25px;
  }
}

.countries__photo{
  // height: 110px;
  width: 100%;

  @media (min-width: $medium-width) {
    height: 140px;
    width: 550px;
  }
}

.countries__item{
  width: 100%;
  margin-bottom: 10px;
  padding-bottom: 24px;

  @media (min-width: $medium-width) {
    padding-bottom: 0;
    margin-bottom: 40px;
    max-width: 730px;
    // max-width: 616px;
  }
}
