.country-description-list{
  padding: 0;

  @media (min-width: $medium-width) {
    width: 94%;
    margin-top: 20px;
    margin-bottom: -6px;
  }

  @media (min-width: $large-width) {
    width: auto;
    margin-top: 68px;
  }
}

.country-description-list__item{
  position: relative;
  &:not(:last-child){
    margin-bottom: 16px
  }

  @media (min-width: $medium-width) {
    &:not(:last-child){
      margin-bottom: 33px;
    }
  }

  @media (min-width: $large-width) {
    max-width: 90%;
  }
}

.country-description-list__caption{
  @include text(18px, 500, 18px, $basic-blue-light);
  margin-block-start: 0;
  margin-block-end: 0;

  &:after {
    position: absolute;
    right: 36px;
    height: 15px;
    width: 100%;
    content: "";
    background: linear-gradient(to left,
       rgba(255,255,255, 1) 5%,
       rgba(255,255,255, 0) 30%
    );
    pointer-events: none;
  }

  @media (min-width: $medium-width) {
    font-weight: bold;
    font-size: 30px;
    line-height: 30px;

    &:after {
      position: absolute;
      right: 95px;
      height: 40px;
      background: linear-gradient(to left,
      rgba(255,255,255, 1) 5%,
      rgba(255,255,255, 0) 20%
   );
    }
  }

  @media (min-width: $large-width) {
    &:after {
      right: 100px;
    }
  }
}

.country-description-list__country{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  margin-left: 11px;

  @media (min-width: $medium-width) {
    margin-bottom: 34px;
    margin-left: 3px;
  }

  @media (min-width: $large-width) {
    margin-bottom: 32px;
    margin-left: -1px;
  }
}

.country-description-list__change-text{
  border: 1px solid $special-dark-grey;
  border-radius: 4px;
  margin-top: -8px;
  padding-top: 9px;
  padding-left: 12px;
  @include text(16px, normal, 22px, $special-grey);
  width: 93%;
  height: 208px;

  @media (min-width: $medium-width) {
    margin-left: 5px;
    padding-top: 18px;
    padding-left: 19px;
    font-size: 20px;
    line-height: 23px;
    width: 95%;
    height: 120px;
  }

  @media (min-width: $large-width) {
    margin-left: 0;
    padding-top: 23px;
    padding-left: 26px;
    font-size: 20px;
    line-height: 23px;
    height: 115px;
    max-width: 702px;
    letter-spacing: 0.09em;
  }

  &:hover{
    border: 1px solid $special-light-grey;
  }

  &::placeholder{
    font-family: Blogger Sans;
    font-style: normal;
    @include text(16px, normal, 22px, $special-grey);
    opacity: 0.3;
  }

  &:active, &:focus{
    border: 1px solid $dark-blue;
    .country-description-list__change-text::placeholder{
      opacity: 1;
    }
  }
}

.country-description-list__text-invalid-border{
  border: 1px solid #F47E7E;
}

.country-description-list__change-text-invalid{
  position: absolute;
  bottom: 6px;
  left: 2px;
  right: -16px;
  padding-top: 20px;
  padding-bottom: 16px;
  padding-left: 21px;
  background-color: #FFEFEF;

  @media (min-width: $medium-width) {
    bottom: 6px;
    left: 2px;
    right: -21px;
  }

}

.country-description-list__flag{
  width: 35px;
  height: 24px;
  margin-top: 2px;

  @media (min-width: $medium-width) {
    width: 70px;
    height: 47px;
    margin-top: 7px;
    margin-right: 12px;
  }
}
