.countries{
  background-color: $basic-grey;
  padding-bottom: 34px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: $medium-width) {
    padding-bottom: 80px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    background-image: url(../../img/flags-background.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top 80px right 40px;
  }

  @media (min-width: $large-width) {
    background-position: top 88px right 60px;
  }
}

.countries__container{
  padding-top: 71px;

  @media (min-width:$medium-width) {
    padding-top: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width:$medium-width) {
    position: relative;
    padding-top: 161px;
  }
}

.countries__header{
  margin-left: 25px;
  max-width: 380px;

  @media (min-width: $medium-width) {
    margin-left: 35px;
  }

  @media (min-width: $large-width) {
    margin-left: 170px;
  }
}

.countries__header-text{
  @media (min-width: $medium-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

.countries__list{
  margin-top: 60px;
  margin-bottom: 27px;
  display: flex;
  flex-direction: column;
  flex-direction: column;

  @media (min-width: $medium-width) {
    align-items: center;
    margin-bottom: 46px;
    margin-top: 64px;
    margin-left: -35px;
    padding-top: 38px;
    padding-left: 35px;
    background-image: url(../../img/background-light.png);
    background-repeat: no-repeat;
    background-size: 141px 141px;
    background-position: top left;
  }

  @media (min-width: $large-width) {
    margin-top: -71px;
    margin-left: -70px;
    padding-top: 71px;
    padding-left: 70px;
  }
}

.countries__all-countries{
  width: 100%;
  height: 61px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $medium-width) {
    width: 618px;
  }

  @media (min-width: $large-width) {
    position: absolute;
    top: 532px;
    left: 62%;
    width: 275px;
  }
}

.countries__info{
  @include text(16px, 300, 22px, $special-grey);
  margin-top: 19px;

  @media (min-width: $medium-width) {
    margin-top: 57px;
    font-size: 28px;
    line-height: 33px;
  }

  @media (min-width: $large-width) {
    margin-top: 58px;
  }
}

.countries__collection{
  display: flex;
  flex-direction: column;

  @media (min-width: $large-width) {
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.countries__card-info{
  text-align: left;
  margin-top: -5px;

  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 33px;
  }
}

.countries__flag{
  margin-top: -10px;
  margin-left: 25px;
  height: 24px;
  width: 35px;

  @media (min-width: $medium-width) {
    position: absolute;
    height: 47px;
    width: 70px;
    left: 375px;
    top: 31px;
    // margin-left: 510px;
  }

  @media (min-width: $large-width) {
    left: 318px;
    top: 37px;
  }
}

.countries__visits{
  display: flex;
  justify-content: flex-start;
  margin: 0;
}

.countries__cards{
  @media (min-width: $medium-width) {
    position: relative;
    max-height: 140px;
    display: flex;
    flex-direction: row-reverse;
  }
}

.countries__description{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 15px;

  @media (min-width: $medium-width) {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }
}

.countries__caption{
  margin-top: 2px;

  @media (min-width: $medium-width) {
    margin-top: 5px;
  }
}

.countries__visists-count{
  min-width: 50px;
  margin-right: 25px;

  @media (min-width: $medium-width) {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 25px;
  }
}

.countries__photo{
  // height: 110px;
  width: 100%;

  @media (min-width: $medium-width) {
    position: absolute;
    right: 0;
    height: 140px;
    width: 550px;
  }

  @media (min-width: $large-width) {
    width: 559px;
  }
}

.countries__item{
  width: 100%;
  height: 190px;
  margin-bottom: 10px;
  padding-bottom: 24px;

  @media (min-width: $medium-width) {
    padding-bottom: 0;
    margin-bottom: 10px;
    min-width: 616px;
    max-width: 730px;
    max-height: 140px;
  }

  @media (min-width: $large-width) {
    min-width: 559px;
    // max-width: 559px;
  }
}
