.details-list__item{
  display: flex;
  align-items: center;
}

.details-list__text{
  @include text(14px, 500, 14px, $basic-blue-light);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}

.details-list__details{
  margin-inline-start: 5px;
}

.details-list__date-details{
  margin-inline-start: 5px;
  letter-spacing: 0.06em;

}

.details-list__date{
  letter-spacing: 0.06em;
}

