.dropdown-multiple-select__text{
  @include text(16px, bold, 18px, $basic-blue-light);

  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.dropdown-multiple-select__header{
  display: flex;
  justify-content: space-between;
}

.dropdown-multiple-select__range-min-value{
  @include text(14px, 500, 13px, $basic-blue-light);
  letter-spacing: 0.06em;
}
