.feedback{
  padding-top: 72px;
  padding-bottom: 45px;

  @media (min-width: $medium-width) {
    padding-bottom: 75px;
  }

  @media (min-width: $large-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.feedback__caption{
  @media (min-width: $medium-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

.feedback__authorize{
  font-size: 28px;
  line-height: 32px;
}

.feedback__list{
  display: flex;
  flex-direction: column;
  @media (min-width: $large-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.feedback__header{
  margin-left: 30px;
  text-align: center;
}

.feedback__authorisation-link{
  color: $basic-yellow;

  &:hover{
    color: $special_orange;
  }

  &:active, &:focus{
    color: $special_orange;
    opacity: 0.3;
  }
}

.feedback__registration{
  position: relative;
  text-align: center;
  margin-top: 29px;

  @media (min-width: $medium-width) {
    margin-top: 65px;
  }
}

.feedback__email{
  height: 62px;
  width: 80%;
  padding-right: 65px;
  border-radius: 20px;

  @media (min-width: $medium-width) {
    height: 80px;
  }

  &::placeholder{
    @include text(18px, bold, 18px, $special-grey);
    opacity: 0.3;
    padding-left: 25px
  }

  @media (min-width: $medium-width) {
    &::placeholder{
      font-size: 24px;
      line-height: 24px;
    }
  }

  &:hover::placeholder{
    color: $special-grey;
    opacity: 1;
  }

  &:active, &:focus{
    background-color: $basic-blue;
    border: 4px solid #FFFFFF;
  }

  &:active::placeholder, &:focus::placeholder{
    color: #ffffff;
  }
}

.feedback__any-questions{
  @include text(16px, 300, 22px, #FFFFFF);
  letter-spacing: 0.01em;
  text-align: center;

  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 30px;
  }
}

.feedback__send-email{
  display: inline-block;
  border-radius: 20px;
  margin-left: -65px;
  width: 60px;
  height: 65px;

  @media (min-width: $medium-width) {
    margin-left: -84px;
    width: 80px;
    height: 84px;
  }
}

.feedback__details{
  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.feedback__any-questions-br{
  @media (min-width: $medium-width) {
    display: none;
  }
}
