.feedback{
  padding-top: 72px;
  padding: 44px;
}

.feedback__list{
  display: flex;
  flex-direction: column;
  @media (min-width: $large-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.feedback__header{
  margin-left: 30px;
  text-align: center;
}

.feedback__authorisation-link{
  color: $basic-yellow;
}

.feedback__registration{
  text-align: center;
}

.feedback__email{
}

.feedback__any-questions{
  @include text(16px, 300, 22px, #FFFFFF);
  letter-spacing: 0.01em;
  text-align: center;
}

.feedback__email::placeholder{
  @include text(18px, bold, 18px, $special-grey);
  opacity: 0.3;
}
