.feedback{
  padding-top: 75px;
  padding-bottom: 45px;

  @media (min-width: $medium-width) {
    padding-bottom: 75px;
  }

  @media (min-width: $large-width) {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.feedback__list{
  display: flex;
  flex-direction: column;
  @media (min-width: $large-width) {
    flex-direction: row;
    justify-content: center;
  }
}

.feedback__header{
  margin-left: 30px;
  text-align: center;
}

.feedback__authorisation-link{
  color: $basic-yellow;

  &:hover{
    color: $special_orange;
  }

  &:active, &:focus{
    color: $special_orange;
    opacity: 0.3;
  }
}

.feedback__registration{
  text-align: center;
}

.feedback__email{
  height: 62px;
  width: 90%;
  border-radius: 20px;

  @media (min-width: $medium-width) {
    height: 80px;
  }

  &::placeholder{
    @include text(18px, bold, 18px, $special-grey);
    opacity: 0.3;
    padding-left: 25px
  }

  &:hover::placeholder{
    color: $special-grey;
    opacity: 1;
  }

  &:active, &:focus{
    background-color: $basic-blue;
  }

  &:active::placeholder, &:focus::placeholder{
    color: #ffffff;
  }
}

.feedback__any-questions{
  @include text(16px, 300, 22px, #FFFFFF);
  letter-spacing: 0.01em;
  text-align: center;
}
