.feedback{
  position: relative;
  z-index: 5;
  padding-top: 102px;
  padding-bottom: 29px;
  margin-top: -30px;
  background-color: $dark-blue;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $medium-width) {
    margin-top: -54px;
    padding-top: 129px;
    padding-bottom: 59px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $large-width) {
    margin-top: -57px;
    padding-top: 164px;
    padding-bottom: 104px;
  }
}

.feedback__caption{
  @media (min-width: $medium-width) {
    font-size: 45px;
    line-height: 45px;
  }
}

.feedback__authorize{
  @include text(16px, 300, 22px);
  max-width: 185px;
  margin-left: 43px;
  margin-top: 19px;

  @media (min-width: $medium-width) {
    max-width: none;
    margin-top: 60px;
    margin-left: 30px;
    font-size: 28px;
    line-height: 32px;
  }

  @media (min-width: $large-width) {
    margin: 59px auto 0;
    padding-left: 50px;
    max-width: 700px;
  }
}

.feedback__list{
  display: flex;
  flex-direction: column;
  margin-top: 19px;

  @media (min-width: $medium-width) {
    margin-top: 45px;
    margin-left: 35px;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
    margin-top: 45px;
    margin-left: 226px;
  }
}

.feedback__header{
  width: 100%;
  margin-top: -2px;
  text-align: center;

  @media (min-width: $medium-width) {
    margin-right: 35px;
  }

  @media (min-width: $large-width) {
    // margin-left: 343px;
    // margin-right: 322px;
  }
}

.feedback__authorisation-link{
  color: $basic-yellow;

  &:hover{
    color: $special_orange;
  }

  &:active, &:focus{
    color: $special_orange;
    opacity: 0.3;
  }
}

.feedback__registration{
  text-align: center;
  margin-top: 30px;

  @media (min-width: $medium-width) {
    margin-top: 68px;
    margin-right: 72px;
  }

  @media (min-width: $large-width) {
    margin-top: 61px;
    margin-right: 146px;
  }
}

.feedback__any-questions{
  @include text(16px, 300, 22px, #FFFFFF);
  letter-spacing: 0.01em;
  text-align: center;
  margin-top: 27px;

  @media (min-width: $medium-width) {
    margin-top: 55px;
    font-size: 28px;
    line-height: 30px;
  }

  @media (min-width: $large-width) {
    margin-top: 66px;
    padding-right: 10px;
  }
}

.feedback__email{
  height: 59px;
  width: 100%;
  border: none;
  outline: none;
  -webkit-appearance: none;
  vertical-align: middle;
  background: none;

  @include text(18px, bold, 18px, $special-grey);

  &::placeholder{
    padding-left: 25px
  }

  @media (min-width: $medium-width) {
    height: 80px;

    &::placeholder{
      font-size: 24px;
      line-height: 24px;
    }
  }

  @media (min-width: $large-width) {
    height: 81px;
    width: 84%;
  }

  &:hover::placeholder{
    color: $special-grey;
    opacity: 0.5;
  }

  &:active, &:focus{
    background-color: $basic-blue;
    border: 4px solid #FFFFFF;
  }

  &:active::placeholder, &:focus::placeholder{
    color: #ffffff;
  }

  &:invalid{
    color: #FF0000;
  }
}

.feedback__send-email{
  border-radius: 10px;
  width: 75px;
  height: 62px;

  @media (min-width: $medium-width) {
    width: 94px;
    height: 80px;
    border-radius: 4px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  @media (min-width: $large-width) {
    margin-left: -84px;
    width: 341px;
  }
}

.feedback__details{
  line-height: 22px;

  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 28px;
  }
}

.feedback__contact{
  @media (min-width: $large-width) {
    margin-right: 110px;
  }
}

.feedback__icon{
  width: 21px;
  height: 21px;

  @media (min-width: $medium-width) {
    width: 23px;
    height: 22px;
  }

  @media (min-width: $large-width) {
    width: 32px;
    height: 30px;
    padding: 30px;
  }
}

.feedback__phone{
  margin-top: -1px;
}

.feedback__button{
  display: flex;
  width: 100%;
  height: 62px;
  background-color: #ffffff;
  border-radius: 10px;

  @media (min-width: $medium-width) {
    height: 80px;
    margin-left: 37px;
    border-radius: 25px;
  }

  @media (min-width: $large-width) {
    margin-left: 73px;
  }
}

.feedback__button-text{
  display: none;

  @media (min-width: $large-width) {
    display: block;
    margin-right: 32px;
  }
}

.feedback__any-questions-br{
  @media (min-width: $medium-width) {
    display: none;
  }
}
