.filter{
  background-color: $dark-grey;
  padding-top: 91px;
  padding-bottom: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: $medium-width) {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 128px;
    padding-bottom: 56px;
  }

  @media (min-width: $large-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    // padding-bottom: 0;
    // background-color: $basic-grey;
  }
}

.filter--opened{
  @media (max-width: $medium-max-width) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }


  &.filter{
  @media (min-width: $large-width) {
    background-color: $basic-grey;
    padding-bottom: 0;
  }
}
}

.filter__container{
  @media (min-width: $medium-width) {
    padding-left: 72px;
    padding-right: 73px;
  }

  @media (min-width: $large-width) {
    padding-left: 80px;
  }
}

.filter__wrapper{
  position: relative;
}

.filter__header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $medium-width) {
    min-height: 26px;
  }

  @media (min-width: $large-width) {
    justify-content: flex-start;
  }
}

.filter__body{
  position: absolute;
  z-index: 6;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  margin-top: 15px;

  background: $dark-grey;
  padding-bottom: 29px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: $medium-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 35px;
    padding-right: 85px;
    padding-bottom: 79px;
    padding-left: 50px;
  }

  @media (min-width: $large-width) {
    position: static;
    padding-top: 53px;
    padding-left: 0px;
    padding-right: 145px;
    background-color: $basic-grey;
  }
}

.filter__body--without-js{
  position: static;
}

.filter__body-container{
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $medium-width) {
    display: flex;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.filter__toggle-button{
  min-width: 28px;
  justify-content: flex-start;
  margin-top: -2px;
  margin-left: -13px;

  &:hover{
    background-color: transparent;
    opacity: 0.6;
  }

  &:active, &:focus{
    background-color: transparent;
    opacity: 0.3;
  }
}

.filter__filter-icon{
  fill: $dark-blue;
  min-width: 15px;
  width: 15px;
  height: 10px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: none;
  }

  @media (min-width: $large-width) {
    width: 23px;
    height: 15px;
  }
}

.filter__text{
  @include text(16px, bold, 18px, $dark-blue);
  text-transform: uppercase;
  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.filter__show-all{
  display: none;
  min-width: 156px;

  @media (min-width: $medium-width) {
    display: flex;
    margin-left: 30px;
  }

  @media (min-width: $large-width) {
    margin-right: 13px;
    margin-left: 321px;
    margin-top: -6px;
  }

  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.filter__hide{
  display: none;
  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: block;
    min-width: 156px;
    margin-left: 51px;
  }
}

.filter__filter-country-text{
  @include text(16px, bold, 18px, $dark-blue);
  min-width: 233px;
  margin-left: 12px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: none;
  }

  @media (min-width: $large-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 22px;
  }
}


.filter__toggle--closed{
  width: 16px;
  height: 16px;
  stroke: $dark-blue;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;

  @media (min-width: $medium-width) {
    width: 22px;
    height: 24px;
    margin-left: 5px;
  }

  @media (min-width: $large-width) {
    display: none;
  }
}

.filter__list{
  list-style-type: none;
}

.filter__buttons-block{
  list-style-type: none;
}

.filter__latter-row{
  @media (min-width: $large-width) {
    display: flex;
    justify-content: space-around;

    &:first-child{
      margin-bottom: 47px
    }

    &:nth-child(2){
      margin-bottom: 48px
    }

    &:nth-child(3){
      margin-bottom: 82px
    }

    &:nth-child(4){
      margin-bottom: 50px
    }
  }
}

.filter__latter-cell{
  @include text(14px, 500, 14px, $basic-blue-light);

  @media (min-width: $medium-width) {
    border: none;
    height: 80px;
    @include text(60px, bold, 60px, $dark-blue);
  }

  @media (min-width: $large-width) {
    display: flex;
    flex-direction: column;
    text-align: left;
    height: 100%;
  }

  &:hover{
    border: none;
  }

  &:active, &:focus{
    background: none;
    color: $basic-blue-light;
  }
}

.filter__latter{
  &:hover{
    opacity: 0.7;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.filter__countries{
  margin-top: 12px;

  @media (min-width: $medium-width) {
    margin-top: 7px;
    margin-left: 45px;
  }
  @media (min-width: $large-width) {
    display: none;
  }
}

.filter__countries-table{
  margin-top: 22px;
  background-color: #ffffff;

  @media (min-width: $medium-width) {
    margin-top: 0;
    background: none;
    width: 65%;
    margin-right: 35px;
  }

  @media (min-width: $large-width) {
    width: 100%;
  }
}

.filter__country-text{
  @include text(16px, normal, 22px, $special-grey);

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover{
    opacity: 0.7;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.filter__close{
  justify-content: center;
  align-items: center;
  height: 39px;
  background-color: #D6DAED;
  border-radius: 20px;
  margin-top: 28px;

  @media (min-width: $medium-width) {
    height: 100px;
    width: 100%;
    margin-top: 58px;
  }

  @media (min-width: $large-width) {
    margin-top: 64px;
    width: 102%;
    margin-left: 60px;
    margin-right: -100px;
  }

  &:hover{
    background: #C8CEE8;
  }

  &:active, &:focus{
    background: #C8CEE8;
    opacity: 0.3;
  }
}

.filter__close--without-js{
  display: none;
}

.filter__close-icon{
  fill: #CCCCCC;
  stroke: #192144;
  margin-top: 3px;
  margin-left: 3px;
  margin-right: 10px;
  width: 14px;
  height: 14px;

  @media (min-width: $medium-width) {
    width: 22px;
    height: 24px;
    margin-left: 34px;
  }

  @media (min-width: $large-width) {
    margin-left: -9px;
    margin-right: 9px;
  }
}

.filter__points{
  list-style-type: none;
  display: flex;
  margin-top: -5px;
}

.filter__point{
  &:not(:last-child){
    margin-right: 4px;
  }

  @media (min-width: $medium-width) {
    &:not(:last-child){
      margin-right: 6px;
    }
  }

}

.filter__point-icon{
  width: 4px;
  height: 4px;

  @media (min-width: $medium-width) {
    width: 6px;
    height: 6px;
  }
}

.filter__continents-list{
  display: none;
  list-style-type: none;

  @media (min-width: $medium-width) {
    display: flex;
  }

  @media (min-width: $large-width) {
    margin-left: 30px;
  }
}

.filter__continents-list--small{
  display: flex;
  flex-direction: column;
  margin-top: 18px;

  @media (min-width: $medium-width) {
    display: none;
  }
}

.filter__item{
  @media (max-width: $small-max-width) {
    &:not(:last-child){
      margin-bottom: 9px;
    }
  }

  @media (min-width: $medium-width) {
    margin-right: 28px;
  }

  @media (min-width: $large-width) {
    margin-right: 32px;
  }

  opacity: 0.3;

  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    opacity: 1;
  }
}

.filter__item--active{
  opacity: 1;
}

.filter__button-caption{
  margin-top: 4px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 9px;
    letter-spacing: normal;
  }
}

.filter__country{
  @media (min-width: $medium-width) {
    min-width: 165px;
  }

  @media (min-width: $large-width) {
    min-width: 210px;
  }
}

.filter__countries-column {
  @media (min-width: $large-width) {
    margin-top: 31px;
  }
}
