.filter{
  background-color: #E2E5F2;
  padding-top: 20px;
  padding-bottom: 15px;
}

.filter__header{
  display: flex;
  justify-content: space-between;
}

.filter__body{
  display: none;
}

.filter__filter-icon{
  fill: $dark-blue;
}

.filter__filter-text{
  @include text(16px, bold, 18px, $dark-blue);
}
