.filter{
  background-color: $dark-grey;
  padding-top: 90px;
  padding-bottom: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: $medium-width) {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding-top: 115px;
    padding-bottom: 56px;
  }
}

.filter--opened{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.filter__container{
  @media (min-width: $medium-width) {
    padding-left: 72px;
    padding-right: 73px;
  }
}

.filter__wrapper{
  position: relative;
}

.filter__header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $medium-width) {
    min-height: 26px;
  }

  @media (min-width: $large-width) {
    justify-content: flex-start;
  }
}

.filter__body{
  position: absolute;
  z-index: 6;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
  margin-top: 15px;

  background: $dark-grey;
  padding-bottom: 28px;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;

  @media (min-width: $medium-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 64px;
    padding-right: 73px;
    padding-bottom: 79px;
    padding-left: 77px;
  }

  @media (min-width: $large-width) {
    padding-top: 74px;
    padding-left: 57px;
    padding-right: 63px;
  }
}

.filter__body-container{
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $medium-width) {
    display: flex;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.filter__toggle-button{
  min-width: 28px;
  justify-content: flex-start;

  &:hover{
    background-color: transparent;
    opacity: 0.6;
  }

  &:active, &:focus{
    background-color: transparent;
    opacity: 0.3;
  }
}

.filter__filter-icon{
  fill: $dark-blue;
  min-width: 15px;
  width: 15px;
  height: 10px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: none;
  }

  @media (min-width: $large-width) {
    width: 23px;
    height: 15px;
  }
}

.filter__text{
  @include text(16px, bold, 18px, $dark-blue);
  text-transform: uppercase;
  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.filter__show-all{
  display: none;
  min-width: 156px;

  @media (min-width: $medium-width) {
    display: flex;
  }

  @media (min-width: $large-width) {
    margin-right: 20px;
  }

  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.filter__hide{
  display: none;
  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: block;
    min-width: 156px;
  }
}

.filter__filter-country-text{
  @include text(16px, bold, 18px, $dark-blue);
  min-width: 233px;
  margin-left: 12px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: none;
  }

  @media (min-width: $large-width) {
    font-size: 20px;
    line-height: 20px;
    margin-left: 22px;
  }
}


.filter__toggle--closed{
  width: 16px;
  height: 16px;
  stroke: $dark-blue;
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;

  @media (min-width: $medium-width) {
    width: 22px;
    height: 24px;
  }

  @media (min-width: $large-width) {
    display: none;
  }
}

.filter__list{
  list-style-type: none;
}

.filter__buttons-block{
  list-style-type: none;
}

.filter__latter-row{
  @media (min-width: $large-width) {
    display: flex;
    justify-content: space-around;
  }
}

.filter__latter-cell{
  text-transform: uppercase;
  @include text(14px, 500, 14px, $basic-blue-light);

  @media (min-width: $medium-width) {
    border: none;
    @include text(60px, bold, 60px, $dark-blue);
  }

  @media (min-width: $large-width) {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &:hover{
    border: none;
  }

  &:active, &:focus{
    background: none;
    color: $basic-blue-light;
  }
}

.filter__latter{
  &:hover{
    opacity: 0.7;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.filter__countries{
  margin-top: 14px;
  @media (min-width: $large-width) {
    display: none;
  }
}

.filter__countries--large{
  display: none;

  @media (min-width: $large-width) {
    display: flex;
    flex-direction: column;
  }
}

.filter__countries-table{
  margin-top: 21px;
  background-color: #ffffff;

  @media (min-width: $medium-width) {
    margin-top: 0;
    background: none;
    width: 65%;
    margin-right: 35px;
  }

  @media (min-width: $large-width) {
    width: 100%;
  }
}

.filter__country-text{
  @include text(16px, normal, 22px, $special-grey);

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 30px;
  }

  &:hover{
    opacity: 0.7;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.filter__close{
  justify-content: center;
  align-items: center;
  height: 39px;
  background-color: #D6DAED;
  border-radius: 20px;
  margin-top: 28px;

  @media (min-width: $medium-width) {
    height: 100px;
    width: 100%;
    margin-top: 80px;
  }

  @media (min-width: $large-width) {
    margin-top: 49px;
  }
}

.filter__close-icon{
  fill: #CCCCCC;
  stroke: #192144;
  margin-right: 12px;
  width: 14px;
  height: 14px;

  @media (min-width: $medium-width) {
    width: 22px;
    height: 24px;
  }
}

.filter__points{
  list-style-type: none;
  display: flex;
  margin-top: -5px;
}

.filter__point{
  &:not(:last-child){
    margin-right: 4px;
  }

  @media (min-width: $medium-width) {
    &:not(:last-child){
      margin-right: 6px;
    }
  }

}

.filter__point-icon{
  width: 4px;
  height: 4px;

  @media (min-width: $medium-width) {
    width: 6px;
    height: 6px;
  }
}

.filter__continents-list{
  display: none;
  list-style-type: none;

  @media (min-width: $medium-width) {
    display: flex;
  }

  @media (min-width: $large-width) {
    margin-left: 30px;
  }
}

.filter__continents-list--small{
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-width) {
    display: none;
  }
}

.filter__item{
  @media (max-width: $small-max-width) {
    &:not(:last-child){
      margin-bottom: 9px;
    }
  }

  @media (min-width: $medium-width) {
    margin-right: 28px;
  }

  opacity: 0.3;

  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    opacity: 1;
  }
}

.filter__item--active{
  opacity: 1;
}
