.hashtag-list{
  list-style-type: none;
  flex-wrap: wrap;
  padding-inline-start: 0
}

.hashtag-list__item{
  @include text(16px, normal, 18px, $special-grey);
  display: inline;

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 23px;
  }
}
