.icon-list{
  display: flex;
  flex-direction: column
}

.icon-list__details{
  @include text(16px, bold, 18px, $dark-blue);
  margin-inline-start: 15px;
  @media (min-width: $medium-width) {
    margin-inline-start: 20px;
  }

  @media (min-width: $large-width) {
    margin-inline-start: 30px;
  }
}

.icon-list__details--light{
  color: $basic-yellow;
}

.icon-list__item{
  display: flex;
}

.icon-list__item--stuck{
  margin-right: 0;
}

.icon-list__mappoint{
  background-color: $blue;
}

.icon-list__inline-card-item{
  margin-right: 10px;
}
