@mixin icon($height: 20px, $width: 20px, $padding: 10px){
  height:$height;
  width: $width;
  padding: $padding;
}

.icon{
  fill: #101D41;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.icon--background-padding{
  padding: 12px;
  border-radius: 50%;

  @media (min-width: $medium-width) {
    padding: 21px;
  }
}

.icon--disabled{
  opacity: 0.15;
}

.icon__social{
  &:hover{
    opacity: 0.6;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.icon--main-theme{
  fill: $basic-yellow;

  &:hover{
    fill: $special-yellow-dark
  }

  &:active, &:focus{
    fill: $special-yellow-dark;
    opacity: 0.3;
  }
}

.icon--special-dark-theme{
  fill: $special-yellow-dark
}

.icon--main-dark-theme{
  fill: $special-orange;
}

.icon--dark-theme{
  fill: $blue;
}

.icon--dark-blue{
  fill: $dark-blue;
}

.icon--main-background{
  background-color: $basic-yellow;

  &:hover{
    background-color: $special-yellow-dark;
  }

  &:active, &:focus{
    background-color: $special-yellow-dark;
    opacity: 0.3;
  }
}

.icon--middle-background{
  background-color: $special-orange;

  &:hover{
    background-color: #F26926;
  }

  &:active, &:focus{
    background-color: #F26926;
    opacity: 0.3;
  }
}

.icon--dark-background{
  background-color: $special-yellow-dark;

  &:hover{
    background-color: $special-orange;
  }

  &:active, &:focus{
    background-color: $special-orange;
    opacity: 0.3;
  }
}

.icon--circle-dark-blue-background{
  background-color: $blue;
}

.icon--dark-blue{
  fill: $dark-blue;

  &:hover{
    fill: $special-grey;
    opacity: 0.6;
  }

  &:active, &:focus{
    fill: $special-grey;
    opacity: 0.3;
  }
}

.icon--light{
  fill: #ffffff;
}
