.icon{
  fill: #101D41;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
  vertical-align: middle;
  padding: 10px;

  @media (min-width: $medium-width) {
    width: 35px;
    height: 35px;
    line-height: 35px;
    padding: 15px;
  }
}

.icon--main-theme{
  fill: $basic-yellow;
}

.icon--special-dark-theme{
  fill: $special-yellow-dark
}

.icon--main-dark-theme{
  fill: $special-orange;
}

.icon--dark-theme{
  fill: $blue;
}

.icon--dark-blue{
  fill: $dark-blue;
}

.icon--main-background{
  background-color: $basic-yellow;

  &:hover{
    background-color: $special-yellow-dark;
  }

  &:active, &:focus{
    background-color: $special-yellow-dark;
    opacity: 0.3;
  }
}

.icon--middle-background{
  background-color: $special-orange;

  &:hover{
    background-color: #F26926;
  }

  &:active, &:focus{
    background-color: #F26926;
    opacity: 0.3;
  }
}

.icon--dark-background{
  background-color: $special-yellow-dark;

  &:hover{
    background-color: $special-orange;
  }

  &:active, &:focus{
    background-color: $special-orange;
    opacity: 0.3;
  }
}

.icon--circle-dark-blue-background{
  background-color: $blue;
}

.icon--dark-blue{
  fill: $dark-blue;

  &:hover{
    fill: $special-grey;
    opacity: 0.6;
  }

  &:active, &:focus{
    fill: $special-grey;
    opacity: 0.3;
  }
}

.icon--light{
  fill: #ffffff;
}
