.icon-list{
  display: flex;
  flex-direction: column;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.icon-list__details{
  @include text(16px, bold, 18px, $dark-blue);
  margin-inline-start: 16px;
  @media (min-width: $medium-width) {
    margin-inline-start: 20px;
  }

  @media (min-width: $large-width) {
    margin-inline-start: 30px;
  }
}

.icon-list__details--light{
  color: $basic-yellow;

  &:hover{
    color: $special-yellow-dark
  }

  &:active, &:focus{
    color: $special-yellow-dark;
    opacity: 0.3;
  }
}

.icon-list__item{
  display: flex;
  align-items: center;
}

.icon-list__item--stuck{
  margin-right: 0;
  // display: block;
}

.icon-list__mappoint{
  background-color: $blue;
}

.icon-list__link{
  position: relative;
}

.icon-list__icon{
  height: 20px;
  width: 20px;

  @media (min-width: $medium-width) {
    width: 23px;
    height: 22px;
  }
}
