.icon-list{
  display: flex;
  flex-direction: column
}

.icon-list__details{
  @include text(16px, bold, 18px, $dark-blue);
}

.icon-list__details--light{
  color: $basic-yellow;
}

.icon-list__item{
  display: flex;
}

.icon-list__mappoint{
  background-color: $blue;
}
