.icon{
  fill: #101D41
}

.icon--main-theme{
  fill: $basic-yellow;
}

.icon--special-dark-theme{
  fill: $special-yellow-dark
}

.icon--main-dark-theme{
  fill: $special-orange;
}

.icon--dark-theme{
  fill: $blue;
}

.icon--dark-blue{
  fill: $dark-blue;
}

.icon--main-background{
  background-color: $basic-yellow;
}

.icon--middle-background{
  background-color: $special-orange;
}

.icon--dark-background{
  background-color: $special-yellow-dark;
}

.icon--dark-blue-background{
  background-color: $blue;
}

.icon--dark-blue{
  fill: $dark-blue;
}

.icon--light{
  fill: #ffffff;;
}
