.icon{
}

.icon--main-theme{
  background: $basic-yellow;
}

.icon--special-dark-theme{
  background: $special-yellow-dark
}

.icon--main-dark-theme{
  background: $special-orange;
}

.icon--dark-theme{
  background: #121936;
}

