.icon{
}

.icon--main-theme{
  background: $special-yellow-dark;
}

.icon--main-dark-theme{
  background: $special-orange;
}

.icon--dark-theme{
  background: #121936;
}

.icon--vkontakte{
  background-image: url(../../img/vkicon.svg);
  background-repeat: no-repeat;
  z-index: -1;
}
