.information-list{
  text-align: center;
  list-style-type: none;
  margin: 0 auto;
  padding-inline-start: 0;

  @media (min-width: $medium-width){
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: $large-width) {
    max-width: 1320px;
    flex-wrap: nowrap;
  }
}

.information-list__item{
  @media (min-width: $medium-width) {
    display: flex;
    justify-content: space-between;
    width: 50%;
  }

  @media (min-width: $large-width) {
    width: 100%;
    flex-wrap: nowrap;
  }
}

.information-list__item--dark-theme{
  background-color: $special-orange;
}

.information-list__item--middle-theme{
  background-color: #FFA530;
}

.information-list__item--light-theme{
  background-color: $special-yellow-dark
}

.information-list__item--even-lighter-theme{
background-color: $basic-yellow;
}

.information-list__description{
  @include text(18px, bold, 18px, $basic-blue);

  @media (min-width: $medium-width) {
    font-size: 24px;
    line-height: 24px;
  }
}

.information-list__description--small{
  @include text(18px, 300, 18px, $special-grey);

  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 28px;
    min-width: 135px;
  }
}
