.main-nav{
  margin-top: 74px;
  margin-left: 64px;
  margin-right: 63px;
}

.main-nav__toggle{
  @media (min-width: $large-width){
    display: none;
  }
}

.main-nav__close-icon{
  fill: #CCCCCC;
}
