.main-menu{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  right: 0;

  @media (min-width: $medium-width) {
    align-items: flex-start;
  }
}

.main-menu--opened{
  display: flex;
  height: 568px;

  @media (min-width: $medium-width) {
    height: 910px;
  }

  @media (min-width: $large-width) {
    display: none;
  }
}

.main-menu--without-js{
  position: static;
}

.main-menu--closed{
  display: none;
}

.main-menu__nav{
  display: flex;
  justify-content: center;
  margin-top: 115px;

  @media (min-width: $medium-width) {
    margin-top: 83px;
    justify-content: flex-start;
  }
}
