.main-menu{
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;

  @media (min-width: $medium-width) {
    align-items: flex-start;
    // padding-left: 100px;
  }
}

.main-menu__container{
  width: 75%;
}

.main-menu--opened{
  display: flex;
  z-index: 1;
}

.main-menu--closed{
  display: none;
}

.main-menu__nav{
  display: flex;
  justify-content: center;
  margin-top: 75px;

  @media (min-width: $medium-width) {
    margin-top: 98px;
    justify-content: flex-start;
  }
}
