.menu__logo-mobile--without-js{
  display: none;

  @media (min-width: $large-width) {
    display: block;
  }
}

.menu__logo-mobile-dark--without-js{
  display: block;

  @media (min-width: $large-width) {
    display: none;
  }
}

.menu__toggle{
  margin-right: 3px;
  margin-top: -2px;
  order: 2;
  @media (min-width: $medium-width) {
    margin-right: -20px;
    order: 0;
  }
  @media (min-width: $large-width){
    display: none;
  }
}

.menu__toggle--hidden{
  display: none;
}

.menu__toggle--opened{
  @media (min-width: $medium-width) {
    margin-right: -21px;
  }
}

.menu__close-icon{
  fill: #CCCCCC;
  stroke: #192144;
  width: 18px;
  height: 19px;

  @media (min-width: $medium-width) {
    width: 22px;
    height: 22px;
  }
}


.menu__line{
  display: none;

  @media (min-width: $large-width) {
    width: 60px;
    height: 2px;
    display: block;
    fill: #ffffff;
  }
}

.menu__line--dark{
  fill: $dark-blue;
}

.menu__nav{
  display: none;

  @media (min-width: $large-width) {
    display: flex;
    margin-right: 255px;
  }
}

.menu__actions{
  display: none;
  order: 1;
  @media (min-width: $medium-width) {
    padding-right: 40px;
    display: flex;
    align-items: center;
  }
}

.menu__list{
  display: none;
  padding-inline-start: 0;
  @media (min-width: $large-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.menu__list--row{
  display: flex;
  flex-direction: row;
}

.menu__authorization{
  @include text(20px, bold, 20px, $basic-blue);
}

.menu__open-icon{
  @include icon();
}

