.menu{}

.menu__logo-mobile{

}

.menu__logo-mobile-dark{
}

.menu__logo-mobile-dark--visible{
  display: none;

  @media (min-width: $large-width) {
    display: block;
  }
}

.menu__toggle{
  order: 2;
  @media (min-width: $medium-width) {
    order: 0;
  }
  @media (min-width: $large-width){
    display: none;
  }
}

.menu__toggle--hidden{
  display: none;
}

.menu__close-icon{
  fill: #CCCCCC;
  stroke: #192144;
  width: 14px;
  height: 14px;

  @media (min-width: $medium-width) {
    width: 22px;
    height: 22px;
  }
}


.menu__line{
  display: none;

  @media (min-width: $large-width) {
    display: block;
    fill: #ffffff;
    margin-left: 40px;
    margin-right: 45px;
  }
}

.menu__line--dark{
  fill: $dark-blue;
}

.menu__nav{
  display: none;

  @media (min-width: $large-width) {
    display: flex;
  }
}

.menu__actions{
  display: none;
  order: 1;
  @media (min-width: $medium-width) {
    padding-right: 40px;
    display: flex;
    align-items: center;
  }
}

.menu__list{
  display: none;
  padding-inline-start: 0;
  @media (min-width: $large-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.menu__list--row{
  flex-direction: row;
}

.menu__authorization{
  @include text(20px, bold, 20px, $basic-blue);
}

.menu__open-icon{
  @include icon();
}

