.middle-menu{
  margin-top: -550px;
  margin-bottom: 550px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: none;
  }

  @media (min-width: $large-width) {
    background-color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
}


.middle-menu__container{
  display: flex;
  justify-content: center;

  @media (min-width: $large-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.middle-menu__logo{
  width: 198px;
  height: 60px;
  padding-top: 17px;
  padding-bottom: 13px;
}

.middle-menu__actions{
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: 7px;
}

.middle-menu__actions--visible{
  display: flex;
}


.middle-menu__icon{
  padding: 10px;

  @media (min-width: $large-width) {
    padding: 15px;
  }
}
.middle-menu__authorization{
  font-size: 20px;
  line-height: 20px;
  border-radius: 25px;
}
