.middle-menu{
  margin-top: -550px;
  margin-bottom: 550px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: none;
  }

  @media (min-width: $large-width) {
    background-color: #ffffff;
    height: 90px;
    margin-top: -14px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.middle-menu__logo-mobile-dark--visible{
  display: none;

  @media (min-width: $large-width) {
    display: block;
  }
}

.middle-menu__container{
  display: flex;
  justify-content: center;
  margin-top: 9px;

  @media (min-width: $large-width) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 35px;
    padding-right: 35px;
  }
}

.middle-menu__logo{
  width: 198px;
  height: 60px;
  padding-top: 17px;
  padding-bottom: 13px;
}

.middle-menu__actions{
  align-items: center;
  justify-content: center;
  align-items: center;
  margin-top: -4px;

  @media (min-width: $large-width) {
    padding-right: 0;
    margin-left: 294px;
  }
}

.middle-menu__actions--visible{
  display: flex;
}


.middle-menu__icon{
  padding: 10px;

  @media (min-width: $large-width) {
    padding: 15px;
  }
}
.middle-menu__authorization{
  font-size: 17px;
  line-height: 20px;
  border-radius: 25px;

  @media (min-width: $medium-width) {
    font-size: 20px;
  }
}

.middle-menu__line{
  @media (min-width: $large-width) {
    width: 44px;
    margin-left: 58px;
  }
}

.middle-menu__nav{
  @media (min-width: $large-width) {
    margin-right: 0;
    margin-left: 45px;
  }
}
