.page-header{
  padding-bottom: 12px;
  position: relative;
  z-index: 13;
  background-color: $basic-blue;
  margin-bottom: -70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    background-color: #182044;
  }
}

.page-header--opened{
  @media (max-width: $medium-max-width) {
    background-color: #ffffff;
  }
}

.page-header--light-theme{
  background-color: #182044;
}

.page-header--border-radius{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  @media (min-width: $medium-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.page-header--height{
  height: 131px;

  @media (min-width: $medium-width) {
    height: 350px;
  }
}

.page-header--without-js{
  @media (max-width: $medium-max-width) {
    position: static;
    margin-bottom: 370px;
    background-color: #fff;
  }

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    margin-bottom: 670px;
  }
}


.page-header__logo{
  width: 96px;
  height: 15px;

  @media (min-width: $medium-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $large-width) {
    width: 200px;
    height: 52px;
  }
}

.page-header__logo--dark{
  width: 100px;
  @media (min-width: $medium-width) {
    width: 164px;
  }
}

.page-header__open-icon{
  padding: 0;
  width: 25px;
  height: 11px;
}

.page-header__link{
  display: none;

  @media (min-width: $medium-width) {
    display: block;
  }
}

.page-header__menu{
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  margin: 0;
  margin-top: 19px;

  @media (min-width: $medium-width) {
    margin-top: 43px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $large-width) {
    margin-top: 46px;
    padding-left: 60px;
    padding-right: 60px
  }
}

.page-header__menu--opened{
  margin-top: 27px;

  @media (min-width: $medium-width) {
    margin-top: 43px;
  }
}

.page-header__authorisation{
  margin-top: 54px;
  display: flex;
  width: 83%;
  justify-content: center;
  @media (min-width: $medium-width) {
    display: none;
  }
}

.page-header__social-list{
  margin-bottom: 40px;
  margin-top: 42px;
  margin-left: 33px;
  align-items: center;

  @media (min-width: $medium-width) {
    justify-content: flex-start;
    margin-top: 126px;
    margin-bottom: 91px;
    margin-left: -9px;
  }
}

.page-header__caption{
  @include text(36px, bold, 36px, #ffffff);
  margin: 0;
  margin-top: 92px;
  padding-left: 25px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $medium-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 75px;
    padding-bottom: 66px;
  }

  @media (min-width: $large-width) {
    padding-left: 124px;
    padding-bottom: 68px;
  }
}

.page-header__caption--without-js{
  margin-top: 0;
  @media (max-width: $medium-max-width) {
    color: $basic-blue;
  }
}

.page-header__buttons{
  display: flex;
  justify-content: space-between;
}

.page-header__contact-list{
  margin-top: 49px;

  @media (min-width: $medium-width) {
    margin-top: 135px;
    margin-left: 132px;
  }
}

.page-header__authorization-button{
  height: 50px;
 @media (max-width: $small-max-width) {
  width: 100%;
 }
}

.page-header__actions{
  display: none;
  order: 1;
  @media (min-width: $medium-width) {
    display: flex;
    align-items: center;
  }
}

.page-header__details{
  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 28px;
  }

  &:hover{
    opacity: 0.7;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.page-header__underline{
  position: absolute;
  fill: #FF8D30;
  bottom: -4px;
  left: 25px;
  width: 190px;

  @media (min-width: $medium-width) {
    left: 74px;
    width: 320px;
  }

  @media (min-width: $large-width) {
    left: 126px;
  }
}

.page-header__underline--visually-hidden{
  @media (max-width: $medium-max-width) {
    display: none;
  }
}

.page-header__underline--directions{
  width: 215px;

  @media (min-width: $medium-width) {
    left: 74px;
    width: 360px;
  }

  @media (min-width: $large-width) {
    left: 126px;
  }
}

.page-header__back-link-text{
  @include text(20px, bold, 20px, #ffffff);
  text-transform: uppercase;
  margin-right: 28px;
}

.page-header__return-to-main{
  display: flex;
  align-items: center;
}

.page-header__icons{
  margin-left: -34px;
}

.page-header__icon{
  margin-top: 2px;

  @media (min-width: $medium-width) {
    margin-top: 0;
  }
}

.page-header__button{
  @media (min-width: $medium-width) {
    margin-top: -3px;
  }
}
