.page-footer{
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 25px;
  margin-top: -100px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  @media (min-width: $medium-width) {
    padding: 50px 0px;
    margin-top: -55px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.page-footer__container{
  @media (min-width: $medium-width){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo-mobile{
  // fill: orange;
  // display: block;
  // @media (min-width: $medium-width){
  //   display: none;
  // }
}

// .page-footer__logo{
//   display: none;
//   @media (min-width: $medium-width){
//       display: block;
//       text-align: center;
//   }
// }

.page-footer__developed-caption{
  margin-right: 23px;
  line-height: 16px;
  color: $special-grey;

  &:hover{
    color: $special-grey;
    opacity: 0.6;
  }

  &:active, &:focus{
    color: $special-grey;
    opacity: 0.3;
  }
}

.page-footer__socials{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  text-align: center;
  padding: 0;
  margin-top: 41px;

  @media (min-width: $medium-width) {
    margin-top: 0;
  }
}

.page-footer__social-item{
  margin: 0;
}

.page-footer__developed{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #F2F2F2;
  margin-top: 37px;
  padding-top: 13px;

  @media (min-width: $medium-width) {
   margin-top: 0;
   padding-top: 0;;
   border: none;
   align-items: center;
  }
}

.page-fotter__icon{
  @media (min-width: $medium-width) {
    padding: 21px;
  }
}

.page-fotter__logo{
  width: 96px;
  height: 15px;

  @media (min-width: $medium-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: $medium-width) {
    width: 200px;
    height: 55px;
  }
}
