.page-footer{
  text-align: center;
  background-color: #ffffff;
}

.page-footer__logo{
  text-align: center;
  padding-top: 37px;
}

.page-footer__developed-caption{
  line-height: 16px;
  padding-top: 16px;
  color: $special-grey;
}

.page-footer__list{
  text-align: center;
}

.page-footer__developed{
  display: flex;
  justify-content: space-between;
}
