.page-footer{
  position: absolute;
  z-index: 5;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding-top: 37px;
  padding-bottom: 25px;
  margin-top: -140px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  @media (min-width: $medium-width) {
    padding: 50px 0px;
    margin-top: -65px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }

  @media (min-width: $large-width) {
    margin-top: -132px;
  }
}

.page-footer--directions{
  margin-top: -86px;

  @media (min-width: $medium-width) {
    margin-top: -53px;
  }
}

.page-footer--companions{
  margin-top: -73px;

  @media (min-width: $medium-width) {
    margin-top: -71px;
  }

  @media (min-width: $large-width) {
    margin-top: -68px;
  }
}

.page-footer__container{
  @media (min-width: $medium-width){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__developed-logo{
  width: 27px;
  height: 33px;

  @media (min-width: $medium-width) {
    height: 34px;
    margin-top: -8px;
  }
}

.page-footer__developed-caption{
  line-height: 16px;
  color: $special-grey;

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
    margin-top: -17px;
    margin-right: 19px;
  }

  &:hover{
    color: $special-grey;
    opacity: 0.6;
  }

  &:active, &:focus{
    color: $special-grey;
    opacity: 0.3;
  }
}

.page-footer__socials{
  text-align: center;
  padding: 0;
  margin-top: 37px;

  @media (min-width: $medium-width) {
    margin-top: -4px;
    margin-left: -3px;
  }

  @media (min-width: $large-width) {
    margin-left: -40px;
  }
}

.page-footer__social-item{
  margin: 0;

  @media (min-width: $medium-width) {
    // margin-right: 10px;
  }
}

.page-footer__developed{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #F2F2F2;
  margin-top: 37px;
  padding-top: 13px;

  @media (min-width: $medium-width) {
   margin-top: 0;
   padding-top: 0;
   border: none;
   align-items: center;
  }

  @media (min-width: $medium-width) {
    margin-top: 7px;
   }
}

.page-fotter__icon{
  @media (min-width: $medium-width) {
    padding: 21px;
  }
}

.page-footer__logo{
  width: 96px;
  height: 15px;

  @media (min-width: $medium-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: $large-width) {
    width: 200px;
    height: 55px;
  }
}

.page-footer__link{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__icon{
  @media (min-width: $medium-width) {
    padding: 21px;
  }
}

.page-footer__icon--facebook{
  @media (min-width: $medium-width) {
    width: 14px;
    height: 26px;
    padding: 18px 23px 18px 23px;
  }
}

.page-footer__icon--vk{
  @media (min-width: $medium-width) {
    width: 28px;
    height: 18px;
    padding: 22px 18px 22px 18px;
  }
}

.page-footer__icon--instogram{
  @media (min-width: $medium-width) {
    width: 22px;
    height: 22px;
    padding: 21px 21px 21px 21px;
  }
}
