.page-main--light{
  background-color: $basic-grey;
}

.page-main__companions-container{
  padding-bottom: 116px;

  @media (min-width: $medium-width) {
    padding-bottom: 132px;
  }

  @media (min-width: $large-width) {
    padding-bottom: 144px;
  }
}
