.page-header{
  padding-bottom: 12px;
  position: relative;
  background-color: $basic-blue;
  margin-bottom: -70px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-header--light-theme{
  background-color: #182044;
}

.page-header--border-radius{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  @media (min-width: $medium-width) {
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.page-header--height{
  height: 150px;

  @media (min-width: $medium-width) {
    height: 350px;
  }
}

.page-header__link {
  display: none;

  @media (min-width: $medium-width) {
    display: block;
  }
}

.page-header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  margin: 0;
  margin-top: 20px;

  @media (min-width: $medium-width) {
    margin-top: 40px;
  }

  @media (min-width: $large-width) {
    margin: 0 auto;
    margin-top: 46px;
  }
}

.page-header--menu-opened{
  // height: 570px;
  // @media (max-width: $medium-max-width) {
    background-color: #ffffff;
  // }

  // @media (min-width: $medium-width) and (max-width: $medium-max-width) {
  //   height: 910px;
  // }
}

.page-header__authorisation{
  margin-top: 51px;
  display: flex;
  width: 100%;
  justify-content: center;
  @media (min-width: $medium-width) {
    display: none;
  }
}

.page-header__social-list{
  margin-bottom: 40px;
  margin-top: 41px;
  @media (min-width: $medium-width) {
    justify-content: flex-start;
    margin-top: 129px;
  }
}

.page-header__caption{
  @include text(36px, bold, 36px, #ffffff);
  margin: 0;
  padding-left: 25px;
  padding-bottom: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $medium-width) {
    font-size: 60px;
    line-height: 60px;
    padding-left: 75px;
    padding-bottom: 66px;
  }

  @media (min-width: $large-width) {
    padding-left: 124px;
    padding-bottom: 68px;
  }
}

.page-header__buttons{
  display: flex;
  justify-content: space-between;
}

.page-header__contact-list{
  margin-top: 51px;

  @media (min-width: $medium-width) {
    margin-top: 144px;
  }
}

.page-header__authorization-button{
 @media (max-width: $small-max-width) {
  width: 100%;
 }
}

.page-header__actions{
  display: none;
  order: 1;
  @media (min-width: $medium-width) {
    padding-right: 40px;
    display: flex;
    align-items: center;
  }
}

.page-header__details{
  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 28px;
  }

  &:hover{
    opacity: 0.7;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}

.page-header__underline{
  position: absolute;
  fill: #FF8D30;
  bottom: -4px;
  left: 25px;
  width: 190px;

  @media (min-width: $medium-width) {
    left: 74px;
    width: 320px;
  }

  @media (min-width: $large-width) {
    left: 126px;
  }
}

.page-header_underline--directions{
  width: 220px;

  @media (min-width: $medium-width) {
    left: 74px;
    width: 360px;
  }

  @media (min-width: $large-width) {
    left: 126px;
  }
}

.page-header__back-link-text{
  @include text(20px, bold, 20px, #ffffff);
  text-transform: uppercase;
  margin-right: 28px;
}

.page-header__return-to-main{
  display: flex;
  align-items: center;
}
