.page-header{
  padding-top: 19px;
  padding-bottom: 12px;
  height: 150px;

  @media (min-width: $medium-width) {
    height: 350px;
  }
}

.page-header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header--menu-opened{
  @media (max-width: $medium-max-width) {
    background-color: #ffffff;
  }
}

.page-header__authorisation{
  margin-top: 51px;
}

.page-header__social-list{
  margin-bottom: 40px;
  @media (min-width: $medium-width) {
    justify-content: flex-start;
    // margin-top: 150px;
  }
}

.page-header__caption{
  @include text(36px, bold, 36px, #ffffff);
}

.page-header__buttons{
  display: flex;
  justify-content: space-between;
}
