.page-header{
  padding-top: 19px;
  padding-bottom: 12px;
  position: relative;
  background-color: $basic-blue;
  margin-bottom: -70px;
}

.page-header--border-radius{
  border-bottom-left-radius: 80px;
  border-bottom-right-radius: 80px;
}

.page-header--height{
  height: 150px;

  @media (min-width: $medium-width) {
    height: 350px;
  }
}

.page-header__menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-header--menu-opened{
  // height: 570px;
  // @media (max-width: $medium-max-width) {
    background-color: #ffffff;
  // }

  // @media (min-width: $medium-width) and (max-width: $medium-max-width) {
  //   height: 910px;
  // }
}

.page-header__authorisation{
  margin-top: 51px;
  display: flex;
  width: 100%;
  justify-content: center;
  @media (min-width: $medium-width) {
    display: none;
  }
}

.page-header__social-list{
  margin-bottom: 40px;
  margin-top: 41px;
  @media (min-width: $medium-width) {
    justify-content: flex-start;
    margin-top: 129px;
  }
}

.page-header__caption{
  @include text(36px, bold, 36px, #ffffff);

  @media (min-width: $medium-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.page-header__buttons{
  display: flex;
  justify-content: space-between;
}

.page-header__contact-list{
  margin-top: 51px;

  @media (min-width: $medium-width) {
    margin-top: 144px;
  }
}

.page-header__authorization-button{
 @media (max-width: $small-max-width) {
  width: 100%;
 }
}

.page-header__actions{
  display: none;
  order: 1;
  @media (min-width: $medium-width) {
    padding-right: 40px;
    display: flex;
    align-items: center;
  }
}

.page-header__details{
  @media (min-width: $medium-width) {
    font-size: 28px;
    line-height: 28px;
  }

  &:hover{
    opacity: 0.7;
  }

  &:active, &:focus{
    opacity: 0.3;
  }
}
