.page-header{
  padding-top: 19px;
  padding-bottom: 12px;
}

.page-header__menu-opened{
  // background-color: #ffffff;
}

.page-header__logo-mobile-dark{
  display: none;
  @media (min-width: $medium-width) {
    display: none;
  }
}

.page-header__logo-mobile{
  display: block;
  @media (min-width: $medium-width){
    display: none;
  }
}

.page-header__menu{
  display: flex;
  justify-content: space-between;
}

.page-header__authorisation{
  margin-top: 51px;
}

.page-header__social-list{
  margin-bottom: 40px;
  @media (min-width: $medium-width) {
    justify-content: flex-start;
    margin-top: 150px;
  }
}

.page-header__caption{
  @include text(36px, bold, 36px, #ffffff);
}

.page-header__logo{
  display: none;
  @media (min-width: $medium-width){
      display: block;
  }
}

.page-header__menu-opened{

}

.page-header__actions{
  display: none;
  @media (min-width: $medium-width) {
    padding-right: 40px;
    display: flex;
  }
}

.page-header__list{
  display: none;
  @media (min-width: $large-width) {
    display: flex;
    flex-direction: row;
  }
}
// 19 25 25
