.page-footer{
  position: absolute;
  z-index: 5;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding-top: 37px;
  padding-bottom: 25px;
  margin-top: -141px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  @media (min-width: $medium-width) {
    padding: 50px 0px;
    margin-top: -55px;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
  }
}

.page-footer__container{
  @media (min-width: $medium-width){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__developed-logo{
  width: 27px;
  height: 33px;

  @media (min-width: $medium-width) {
    height: 34px;
  }
}

.page-footer__developed-caption{
  line-height: 16px;
  color: $special-grey;

  &:hover{
    color: $special-grey;
    opacity: 0.6;
  }

  &:active, &:focus{
    color: $special-grey;
    opacity: 0.3;
  }
}

.page-footer__socials{
  text-align: center;
  padding: 0;
  margin-top: 37px;

  @media (min-width: $medium-width) {
    margin-top: 0;
  }
}

.page-footer__social-item{
  margin: 0;
}

.page-footer__developed{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #F2F2F2;
  margin-top: 37px;
  padding-top: 13px;

  @media (min-width: $medium-width) {
   margin-top: 0;
   padding-top: 0;;
   border: none;
   align-items: center;
  }
}

.page-fotter__icon{
  @media (min-width: $medium-width) {
    padding: 21px;
  }
}

.page-footer__logo{
  width: 96px;
  height: 15px;

  @media (min-width: $medium-width) {
    width: 164px;
    height: 42px;
  }

  @media (min-width: $medium-width) {
    width: 200px;
    height: 55px;
  }
}

.page-footer__link{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
