.page-footer{
  text-align: center;
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 25px;
  @media (min-width: $medium-width) {
    padding: 50px 0px;
  }
}

.page-footer__container{
  @media (min-width: $medium-width){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo-mobile{
  // fill: orange;
  // display: block;
  // @media (min-width: $medium-width){
  //   display: none;
  // }
}

// .page-footer__logo{
//   display: none;
//   @media (min-width: $medium-width){
//       display: block;
//       text-align: center;
//   }
// }

.page-footer__developed-caption{
  margin-right: 23px;
  line-height: 16px;
  color: $special-grey;

  &:hover{
    color: $special-grey;
    opacity: 0.6;
  }

  &:active, &:focus{
    color: $special-grey;
    opacity: 0.3;
  }
}

.page-footer__list{
  text-align: center;
  margin: 0;
}

.page-footer__developed{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #F2F2F2;
  margin-top: 37px;
  padding-top: 13px;

  @media (min-width: $medium-width) {
   margin-top: 0;
   padding-top: 0;;
   border: none;
   align-items: center;
  }
}

