.page-footer{
  text-align: center;
  background-color: #ffffff;
  padding-top: 35px;
  padding-bottom: 25px;
  @media (min-width: $medium-width) {
    padding: 50px 0px;
  }
}

.page-footer__container{
  @media (min-width: $medium-width){
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo-mobile{
  fill: orange;
  display: block;
  @media (min-width: $medium-width){
    display: none;
  }
}

.page-footer__logo{
  display: none;
  @media (min-width: $medium-width){
      display: block;
      text-align: center;
  }
}

.page-footer__developed-caption{
  margin-right: 23px;
  line-height: 16px;
  padding-top: 16px;
  color: $special-grey;
}

.page-footer__list{
  text-align: center;
  margin: 0;
}

.page-footer__developed{
  display: flex;
  justify-content: space-between;
}
