.plan-list{
  padding-inline-start: 0;
}

.plan-list__item{
  margin-bottom: 10px;
  padding-bottom: 22px;
  background: #FFFFFF;
  border-radius: $card-border-radius-small;
  list-style-type: none;

  @media (min-width: $medium-width) {
    margin-bottom: 11px;
    padding-bottom: 12px;
  }

  @media(min-width: $large-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding-top: 34px;
    padding-right: 42px;
    padding-bottom: 38px;
    padding-left: 43px;
  }
}

.plan-list__header{
  display: flex;
  padding-top: 23px;
  padding-left: 24px;

  @media (min-width: $medium-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 34px;
    padding-left: 40px;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
  }
}

.plan-list__change-text{
  @include text(14px, 500, 14px, #000000);
  letter-spacing: 0.03em;
  opacity: 0.3;
  text-transform: uppercase;

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}

.plan-list__details{
  padding-left: 25px;
  @media (min-width: $medium-width) {
    display: flex;
    justify-content: space-between;
    padding-right: 45px;
    padding-top: 22px;
    padding-left: 40px;
    border-top: 1px solid rgba(203,206,217, 0.3);
  }

  @media (min-width: $large-width) {
    border-top: none;
    width: 50%;
    padding-top: 5px;
    padding-right: 0;
    padding-left: 0;
  }
}

.plan-list__details-list{
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-width) {
    display: grid;
    grid-template-columns: 178px 200px;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 25px;
  }

  @media (min-width: $large-width) {
    grid-template-columns: 175px 200px;
    padding-right: 0;
  }
}

.plan-list__change{
  display: block;
  margin-top: 20px;
  align-items: flex-start;

  @media (min-width: $medium-width) {
    flex-direction: row;
    margin-top: 0;
    margin-right: -6px;
  }

  @media (min-width: $large-width) {
    margin-right: 0;
  }

  &:hover{
    color: #000000;
    opacity: 0.6;
    background-color: transparent;
  }

  &:active, &:focus{
    color: #000000;
    opacity: 0.1;
    background-color: transparent;
  }
}

.plan-list__countries{
  display: flex;
  margin-left: 5px;

  @media (min-width: $medium-width) {
    margin-left: 0;
  }
}

.plan-list__country{
  &:not(:last-child){
    margin-right: 5px;
  }
}

.plan-list__index{
  @media (min-width: $large-width) {
    margin-top: 2px;
    margin-right: 33px;
  }
}
