.profile{
  position: relative;
  background-color: #E6E8F1;
  // padding-top: 37px;
  padding-bottom: 38px;
  // padding-left: 24px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;

  @media (min-width: $medium-width) {
    padding-bottom: 63px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}

.profile__list{
  margin-top: 46px;
  @media (min-width: $medium-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  @media (min-width: $large-width) {
    width: 75%;
  }
}

.profile__header{
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}

.profile__business-tarifs{
  margin-left: 25px;

  @media (min-width: $medium-width) {
    margin-left: 0;
    justify-content: flex-start;
  }

  @media (min-width: $large-width) {
    margin-left: 180px;
  }

  &:hover{
    background: none;
    opacity: 0.7;
  }

  &:active, &:focus{
    background: none;
  }
}

.profile__rates{
  position: absolute;
  top: -140px;
  right: 0;
  @media (min-width: $medium-width) {
    top: 245px;
    left: 570px;
  }

  @media (min-width: $large-width) {
    top: 50%;
    left: 1100px;
  }
}

.profile__caption{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  @media (min-width: $medium-width) {
    margin: 0 auto;
    padding-bottom: 35px;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $large-width) {
    margin: 0 auto;
    padding-bottom: 85px;
  }
}

.profile__show-tarifs{
  display: flex;
  align-items: center;
  margin-top: 46px;
  &:hover{
    color: #132576;
    opacity: 0.7;
  }

  &:active, &:focus{
    color: #132576;
    opacity: 0.3;
  }
}

.profile__br{
  @media (min-width: $medium-width) {
    display: none;
  }
}

.profile__information{
  border-bottom: 1px solid #E1E3E9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &:not(:last-child){
    margin-bottom: 13px;
  }

  @media (min-width: $medium-width) {
    flex-direction: row;
    align-items: center;
    width: 100%;
    &:not(:last-child){
      margin-bottom: 20px;
    }
  }
}

.profile__price{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
  margin-bottom: -6px;

  @media (min-width: $medium-width) {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.profile__price-digital{
  position: relative;

  @media (min-width: $medium-width) {
    margin-right: 22px;
    font-size: 28px;
    line-height: 28px;
    padding-bottom: 25px;
  }
}

.profile__tarif-icon{
  display: none;

  @media (min-width: $medium-width) {
    display: block;
  }
}

.profile__cost{
  &::before,
  &::after {
    background-color: black;
  }
}

.profile__tarifs-text{
  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.profile__consts{
  position: relative;
}
