.profile{
  margin-top: -30px;
  position: relative;
  z-index: 6;
  background-color: #E6E8F1;
  padding-bottom: 39px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;

  @media (min-width: $medium-width) {
    margin-top: -55px;
    padding-bottom: 63px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  @media (min-width: $large-width) {
    padding-bottom: 165px;
  }
}

.profile__container{
  padding-left: 50px;
}

.profile__list{
  position: relative;
  z-index: auto;
  margin-top: -88px;
  padding-top: 126px;
  background-image: url(../img/rates-small.webp);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 100px 100px;

  @media (min-width: $medium-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-top: 73px;
    padding-top: 0;
    padding-right: 35px;
    margin-bottom: -100px;
    padding-bottom: 100px;
    background-image: url(../img/rates-medium.webp);
    background-position: bottom right 45px;
  }

  @media (min-width: $large-width) {
    width: 75%;
    margin: 0;
    margin-top: 83px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 80px;
    padding-right: 230px;
    background-image: url(../img/rates-large.webp);
    background-size: 198px 198px;
    background-position: right ;
  }

  @media (min-resolution: 2dppx){
    background-image: url(../img/rates-small@2x.webp);
  }

  @media (min-resolution: 2dppx) and (min-width: $medium-width) {
    background-image: url(../img/rates-medium@2x.webp);
  }

  @media (min-resolution: 2dppx) and (min-width: $large-width) {
    background-image: url(../img/rates-large@2x.webp);
  }

  &:after {
  display: none;
  @media (min-width: $medium-width) {
      display: block;
      z-index: -1;
      content: "";
      position: absolute;
      height: 285px;
      width: 198px;
      top: -50px;
      right: 0;
      border-radius: 20px;
      background-color: $dark-grey;
    }

    @media (min-width: $large-width) {
      height: 300px;
      width: 446px;
      right: 110px;
      top: -35px;
    }
  }
}

.profile__header{
  display: flex;
  justify-content: space-between;
  padding-top: 83px;

  @media (max-width: $small-max-width) {
    max-width: 135px;
  }

  @media (min-width: $medium-width) {
    padding-top: 109px;
  }

  @media (min-width: $large-width) {
    padding-top: 132px;
  }
}

.profile__business-tariffs-button{

  @media (min-width: $medium-width) {
    margin-left: 0;
    justify-content: flex-start;
  }

  @media (min-width: $large-width) {
    margin-left: 80px;
  }

  &:hover{
    background: none;
    opacity: 0.7;
  }

  &:active, &:focus{
    background: none;
  }
}

.profile__rates{
  position: absolute;
  top: -140px;
  right: 0;
  @media (min-width: $medium-width) {
    top: 245px;
    left: 570px;
  }

  @media (min-width: $large-width) {
    top: 50%;
    left: 1100px;
  }
}

.profile__caption{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  @media (min-width: $medium-width) {
    margin: 0 auto;
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $large-width) {
    margin: 0 auto;
    padding-bottom: 85px;
  }
}

.profile__show-tariffs{
  display: flex;
  align-items: center;
  margin-top: 33px;
  width: 100%;

  @media (min-width: $medium-width) {
    position: relative;
    z-index: 1;
    margin-top: 59px;
  }

  &:hover{
    color: #132576;
    opacity: 0.7;
  }

  &:active, &:focus{
    color: #132576;
    opacity: 0.3;
  }
}

.profile__information{
  border-bottom: 1px solid #E1E3E9;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 7px;
  padding-bottom: 12px;

  &:first-child{
    border-top: 1px solid #E1E3E9;
  }

  @media (min-width: $medium-width) {
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-bottom: 0;
  }
}

.profile__price{
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: 100%;
  align-items: center;
  margin-bottom: -6px;

  @media (min-width: $medium-width) {
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 0;
  }
}

.profile__price-digital{
  position: relative;
  padding: 8px;

  @media (min-width: $medium-width) {
    margin-right: 22px;
    font-size: 28px;
    line-height: 28px;
    padding-bottom: 25px;
  }

  @media (min-width: $large-width) {
    padding: 24px;
  }
}

.profile__tarif-icon{
  display: none;

  @media (min-width: $medium-width) {
    display: block;
  }
}

.profile__tariffs-text{
  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
  }
}

.profile__consts{
  position: relative;
}

.profile__price-name{
  text-align: left;
}
