.profile{
  position: relative;
  background-color: #E6E8F1;
  // padding-top: 37px;
  padding-bottom: 38px;
  // padding-left: 24px;
}

.profile__list{
  margin-bottom: 46px;
  @media (min-width: $medium-width) {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.profile__header{
  display: flex;
  justify-content: space-between;
}

.profile__business-tarifs{
  margin-left: 25px;
}

.profile__rates{
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 25px;
  padding-top: 25px;
  @media (min-width: $medium-width) {
    top: auto;
  }

  @media (min-width: $large-width) {
    top: 50%;
  }
}

.profile__caption{
  @media (min-width: $medium-width) {
    margin: 0 auto;
    padding-bottom: 35px;
  }

  @media (min-width: $large-width) {
    margin: 0 auto;
    padding-bottom: 85px;
  }
}

.profile__show-tarifs{
  &:hover{
    color: #132576;
    opacity: 0.7;
  }

  &:active, &:focus{
    color: #132576;
    opacity: 0.3;
  }
}
