.profile{
  background-color: #E6E8F1;
  padding-top: 37px;
  padding-bottom: 38px;
  padding-left: 24px;
}

.profile__list{
  margin-bottom: 46px;
}

.profile__header{
  display: flex;
  justify-content: space-between;
}

.profile__business-tarifs{
  margin-left: 25px;
}
