.promo{
  margin-top: 94px;
  background:  url(../../img/globe-back-mobile.png) no-repeat;
}

.promo__header{
  align-items: center;
  @media (min-width: $medium-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $large-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.promo__menu{
  display: flex;
  justify-content: center;
  margin-top: -280px;
  margin-bottom: 280px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: none;
  }

  @media (min-width: $large-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.promo__actions{
  display: flex;
  justify-content: center;

  @media (min-width: $large-width) {
    background-color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.promo__authorization{
  margin-top: auto;
  margin-bottom: auto;
}

.promo__slogan{
  text-align: center;
  @include text(36px, bold, 40px, #ffffff);

  @media (min-width: $large-width) {
    text-align: left;
  }
}

.promo__author-info{
  margin-top: 25px;
}

.promo__list{
  padding: 0;
  flex-direction: row;
}

.promo__list--indent{
  @media (min-width: $medium-width) {
    margin-top: 0;
  }

  @media (min-width: $large-width) {
    margin-top: -200px;
    padding-bottom: 200px;
  }
}

.promo__traveller-icon{
  margin-top: 10px;
  margin-left: 80px;

  @media (min-width: $medium-width) {
    margin-left: 0;
  }

  @media (min-width: $large-width) {
    display: none;
    order: 2;
  }
}

.promo__traveller-icon__large{
  margin-top: 10px;
  margin-left: 80px;
  display: none;
  @media (min-width: $large-width) {
    display: flex;
  }
}

.promo__quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $medium-width) {
    flex-direction: row-reverse;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
  }
}

.promo__review{
  margin: 28px 0px 0px 0px;
  margin-top: 28px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__author-info{
  max-width: 170px;
}

.promo__menu-actions{
  align-items: center;
  justify-content: center;

  @media (max-width: $small-max-width) {
    margin-top: -270px;
    padding-bottom: 270px;
   }
}

.promo__menu-actions--visible{
  display: flex;
}
