.promo{
  margin-top: 150px;
  background-image: url(../img/globe-back-mobile.webp), linear-gradient($basic-blue 733px, $dark-blue 733px);
  background-repeat: no-repeat;
  background-size: 100% 382px,400px 110%;
  background-position: 0 4px,0 -92px;

  @media (min-width: $medium-width) {
    margin-top: 216px;
    background-image: url(../img/globe-back-tablet.webp);
    background-position: 0 229px;
    background-size: 100% 610px;
  }

  @media (min-width: $large-width) {
    background-image: url(../img/globe-back-desktop.webp);
    background-position: 0px -171px;
    background-size: 100% 795px;
    padding-bottom: 20px;
  }

  @media (min-resolution: 2dppx){
    background-image: url(../img/globe-back-mobile@2x.webp), linear-gradient($basic-blue 733px, $dark-blue 733px);
  }

  @media (min-resolution: 2dppx) and (min-width: $medium-width) {
    background-image: url(../img/globe-back-tablet@2x.webp), linear-gradient($basic-blue 733px, $dark-blue 733px);
  }

  @media (min-resolution: 2dppx) and (min-width: $large-width) {
    background-image: url(../img/globe-back-desktop@2x.webp), linear-gradient($basic-blue 733px, $dark-blue 733px);
  }
}

.promo__container{
  z-index: 11;
  position: relative;
  padding: 0;
  flex-direction: row;

  @media (max-width: $small-max-width) {
    & ul li:first-child{
      border-top-left-radius: 15px;
      border-top-right-radius: 11px;
    }

    & ul li:last-child{
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 11px;
    }
  }

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    margin-top: 32px;
    & ul li:first-child{
      border-top-left-radius: 25px;
    }

    & ul li:nth-of-type(2){
      border-top-right-radius: 15px;
    }

    & ul li:nth-of-type(3){
      border-bottom-left-radius: 25px;
    }

    & ul li:last-child{
      border-bottom-right-radius: 15px;
    }
  }

  @media (min-width: $large-width) {
    margin-top: -260px;
    padding-bottom: 108px;
    & ul li{
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    & ul li:last-child{
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
}
.promo__header{
  align-items: center;
  margin-bottom: 29px;

  @media (min-width: $medium-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $large-width) {
    display: flex;
    flex-direction: row;
  }
}

.promo__actions{
  display: flex;
  justify-content: center;

  @media (min-width: $large-width) {
    background-color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.promo__authorization{
  margin-top: auto;
  margin-bottom: auto;
}

.promo__slogan{
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  @include text(36px, bold, 40px, #ffffff);

  @media (min-width: $medium-width) {
    font-size: 60px;
    line-height: 70px;
  }

  @media (min-width: $large-width) {
    text-align: left;
    margin-top: -285px;
    margin-left: 65px;
  }
}

.promo__author-info{
  @include text(16px, bold, 22px, #ffffff);
  margin-top: 19px;
  max-width: 170px;

  @media (min-width: $medium-width) {
    margin-top: 44px;
    max-width: 225px;
    @include text(21px, bold, 25px, #ffffff);
  }
}

.promo__traveller-icon{
  margin-top: 9px;
  margin-left: 55px;
  width: 192px;
  height: 255px;

  @media (min-width: $medium-width) {
    margin-top: 36px;
    margin-bottom: -36px;
    margin-left: 174px;
    width: 372px;
    height: 451px;
  }

  @media (min-width: $large-width) {
    display: flex;
    margin-bottom: 0;
    margin-top: -48px;
    margin-left: 85px;
    width: 431px;
    height: 640px;
  }
}

.promo__quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $medium-width) {
    flex-direction: row-reverse;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
  }
}

.promo__review{
  margin: 44px 0 0 -49px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (min-width: $medium-width) {
    margin-top: -550px;
    margin-left: -360px;
  }

  @media (min-width: $large-width) {
    margin-top: -285px;
    margin-left: 58px;
  }
}

.promo__description{
  font-weight: 300;
  @media (min-width: $medium-width) {
    @include text(28px, 300, 33px, #ffffff);
    min-width: 266px;
  }
}

.promo__item{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding-left: 24px;
  padding-right: 21px;

  @media (min-width: $medium-width) {
    width: 100%;
    flex-direction: column;
    height: 88px;
    padding-top: 31px;
    padding-bottom: 21px;
    padding-left: 32px;
    align-items: flex-start;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
    padding-right: 34px;
    height: 55px;
  }
}

.promo__list-item {
  margin-left: -1px;

  @media (min-width: $large-width) {
    &:not(:first-child){
      margin-left: -28px;
    }

    width: 29%;
    &:first-child {
      width: 26%;
    }

    &:last-child {
      width: 24%;
    }

    &:last-child .promo__order-number{
      margin-right: 0
    }
  }
}

.promo__order-number{
  @include text(18px, bold, 18px);
  margin-top: -20px;

  @media (min-width: $medium-width) {
    font-size: 30px;
    line-height: 30px;
  }

  @media (min-width: $large-width) {
    margin-top: -3px;
    margin-right: 25px;
    font-size: 24px;
    line-height: 24px;
  }
}
