.promo{
  margin-top: 94px;
  background:  url(../../img/globe-back-mobile.png) no-repeat;
}

.promo__header{
  align-items: center;
  @media (min-width: $medium-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $large-width) {
    display: flex;
    flex-direction: row;
  }
}

.promo__actions{
  display: flex;
  justify-content: center;
  margin-top: -200px;
  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: none;
  }
}

.promo__authorization{
  margin-top: auto;
  margin-bottom: auto;
}

.promo__slogan{
  text-align: center;
  margin-left: 41px;
  @include text(36px, bold, 40px, #ffffff);

  @media (min-width: $large-width) {
    text-align: left;
  }
}

.promo__author-info{
  margin-top: 25px;
}

.promo__list{
  padding: 0;
  flex-direction: row;
}

.promo__list--indent{
  margin-top: 150px;
  @media (min-width: $medium-width) {
    margin-top: 0;
  }
}

.promo__traveller-icon{
  margin-top: 10px;
  margin-left: 80px;

  @media (min-width: $medium-width) {
    margin-left: 0;
  }

  @media (min-width: $large-width) {
    display: none;
    order: 2;
  }
}

.promo__traveller-icon__large{
  margin-top: 10px;
  margin-left: 80px;
  display: none;
  @media (min-width: $large-width) {
    display: flex;
  }
}

.promo__quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $medium-width) {
    flex-direction: row-reverse;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
  }
}

.promo__review{
  margin: 28px 0px 0px 0px;
  margin-top: 28px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__author-info{
  max-width: 170px;
}
