.promo{
  margin-top: 60px;
  background-image: url(../../img/globe-back-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $medium-width) {
    background-image: url(../../img/globe-back-tablet.png);
  }
}

.promo__header{
  align-items: center;
  @media (min-width: $medium-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $large-width) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.promo__menu-container{
  display: flex;
  justify-content: center;

  @media (min-width: $large-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.promo__menu{
  margin-top: -550px;
  margin-bottom: 550px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    display: none;
  }

  @media (min-width: $large-width) {
    background-color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.promo__actions{
  display: flex;
  justify-content: center;

  @media (min-width: $large-width) {
    background-color: #ffffff;
    padding-left: 25px;
    padding-right: 25px;
  }
}

.promo__authorization{
  margin-top: auto;
  margin-bottom: auto;
}

.promo__slogan{
  text-align: center;
  @include text(36px, bold, 40px, #ffffff);

  @media (min-width: $medium-width) {
    @include text(60px, bold, 70px, #ffffff);
  }

  @media (min-width: $large-width) {
    text-align: left;
  }
}

.promo__author-info{
  margin-top: 25px;
  max-width: 170px;

  @media (min-width: $medium-width) {
    max-width: 251px;
    @include text(21px, bold, 25px, #ffffff);
  }
}

.promo__container{
  padding: 0;
  flex-direction: row;

  @media (max-width: $small-max-width) {
    & ul li:first-child{
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
    }

    & ul li:last-child{
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }

  @media (min-width: $medium-width) and (max-width: $medium-max-width) {
    & ul li:first-child{
      border-top-left-radius: 25px;
    }

    & ul li:nth-of-type(2){
      border-top-right-radius: 25px;
    }

    & ul li:nth-of-type(3){
      border-bottom-left-radius: 25px;
    }

    & ul li:last-child{
      border-bottom-right-radius: 25px;
    }
  }

  @media (min-width: $large-width) {
    & ul li{
      border-top-left-radius: 25px;
      border-bottom-left-radius: 25px;
    }

    & ul li:last-child{
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
}

.promo__indent{
  @media (min-width: $medium-width) {
    margin-top: 0;
  }

  @media (min-width: $large-width) {
    margin-top: -200px;
    padding-bottom: 200px;
  }
}

.promo__traveller-icon{
  margin-top: 10px;
  margin-left: 80px;
  width: 192px;
  height: 255px;

  @media (min-width: $medium-width) {
    margin-left: 0;
    width: 372px;
    height: 451px;
  }

  @media (min-width: $large-width) {
    display: flex;
    width: 431px;
    height: 640px;
  }
}

.promo__quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: $medium-width) {
    flex-direction: row-reverse;
  }

  @media (min-width: $large-width) {
    flex-direction: row;
  }
}

.promo__review{
  margin: 28px 0px 0px 0px;
  margin-top: 28px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promo__menu-actions{
  align-items: center;
  justify-content: center;
  align-items: center;
}

.promo__menu-actions--visible{
  display: flex;
}

.promo__description{
  @media (min-width: $medium-width) {
    @include text(28px, 300, 33px, #ffffff);
  }
}

.promo__item{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;

  @media (min-width: $medium-width) {
    width: 100%;
  }
}

.promo__list-item {
  margin-left: -1px;
}
