.select-input-list{
  padding-inline-start: 0;
}

.select-input-list__item{
  display: flex;
  margin-top: -4px;

  &:not(:last-child){
    margin-bottom: 26px;
  }

  @media (min-width: $medium-width) {
    margin-top: 0;
    margin-left: 3px;

    &:not(:last-child){
      margin-bottom: 18px;
    }
  }

  @media (min-width: $large-width) {
    &:not(:last-child){
      margin-bottom: 17px;
    }
  }
}
