.select{
  @include text(14px, 500, 18px, $basic-blue-light);
  letter-spacing: 0.09em;
}

.select__item{
  position: relative;
  width: 100%;
  @include text(14px, 500, 18px, $basic-blue-light);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;

  @media (min-width: $medium-width) {
    margin-left: 15px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}

.select__item:after {
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%;
  content: "";
  background: linear-gradient(to left,
     rgba(255,255,255, 1) 10%,
     rgba(255,255,255, 0) 30%
  );
  pointer-events: none;
}

.select__item-country--text-opened{
  margin-left: 8px;
  margin-top: 2px;
  letter-spacing: 0.01em;
  color: #ffffff;

  @media (min-width: $medium-width) {
    margin-left: 15px;
    margin-top: -1px;
    letter-spacing: 0.1em
  }
}

.select__item-country--text-opened.select__item:after{
  background: none;
}
