.site-list{
  list-style-type: none;
  padding: 0;
}

.site-list__link{
  @include text(30px, 500, 35px, $dark-blue);
  text-transform: uppercase;

  @media (min-width: $medium-width) {
    font-size: 60px;
    line-height: 71px;
  }

  @media (min-width: $large-width) {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover{
    color: $basic-yellow;
  }

  &:active, &:focus{
    color: $basic-yellow;
    opacity: 0.3;
  }
}

.site-list__link--light{
  color: #ffffff;
}

.site-list__link--dark{
  color: $dark-blue;
}

.site-list__item{
  text-align: center;

  @media (min-width: $medium-width) {
    text-align: left;
  }

  @media (min-width: $large-width) {
    padding-right: 35px;
  }
}
