.social-list{
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;

  @media (min-width: $medium-width) {
    justify-content: flex-start;
  }
}

.social-list__item{
}

.social-list__link{

}
