.step-list{
  list-style-type: none;
  padding-inline-start: 0;
}

.step-list__container{
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 23px;
  padding-left: 25px;
  padding-right: 25px;

  @media (min-width: $medium-width) {
    padding-top: 48px;
    padding-bottom: 56px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: $large-width) {
    padding-top: 101px;
    padding-bottom: 106px;
    padding-left: 159px;
    padding-right: 163px;
  }
}

.step-list__item{
  background-color: #ffffff;
  margin-bottom: 10px;
  border-radius: $card-border-radius-small;

  @media (min-width: $medium-width) {
    margin-bottom: 40px;
    border-radius: 30px;
  }

  @media (min-width: $large-width) {
    border-radius: 60px;
  }
}

.step-list__header{
  display: flex;
  justify-content: space-between;
  @media (min-width: $medium-width) {
    border-bottom: 1px solid #E1E3E9;
    padding-bottom: 38px;
  }

  @media (min-width: $large-width) {
    padding-bottom: 55px;
  }
}

.step-list__header-text{

}

.step-list__nav{
  display: none;
  @media (min-width: $large-width) {
    display: flex;
    flex-direction: column;
    list-style: none;
    min-width: 185px;
  }
}

.step-list__nav-item{
  @include text(20px, normal, 24px, #000000);
  letter-spacing: 0.11em;
  text-transform: uppercase;
  &::before {
    content: "\2022";
    color: $basic-blue-light;
    font-weight: bold;
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-left: -1em;
    margin-right: 36px;
  }
}

.step-list__nav-item--disabled{
  opacity: 0.6;
}

.step-list__description{
  margin-top: 16px;
  min-height: 90px;
  @include text(16px, normal, 22px, $special-grey);


  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 24px;
    min-height: 48px;
  }
}

.step-list__sub-list{
  // margin-top: 21px;
  position: relative;
  z-index: 0;

  @media (min-width: $medium-width) {
    margin-top: 42px;
  }

  @media (min-width: $large-width) {
    margin-top: 62px;
  }

  &:after {
    display: none;
    @media (min-width: $medium-width) {
      display: block;
      z-index: -1;
      content: "";
      position: absolute;
      height: 400px;
      width: 1px;
      top: -43px;
      right: 164px;
      background-image: linear-gradient(to bottom,#E1E3E9 85%, rgba(225,227,233,0));
    }

    @media (min-width: $large-width) {
      height: 600px;
      width: 1px;
      top: -63px;
      right: 348px;
      background-image: linear-gradient(to bottom,#E1E3E9 80%, rgba(225,227,233,0));
    }
  }
}

.step-list__buttons{
  display: flex;
  flex-direction: column;
}

.step-list__nav-buttons{
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.step-list__previous{
  border: none;

  &:hover{
    background-color: transparent;
    opacity: 0.7;
  }

  &:active, &:focus{
    background-color: transparent;
    opacity: 0.3;
  }
}

.step-list__trip-data{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  @include text(16px, 500, 16px, $basic-blue-light);
  letter-spacing: 0.09em;

  @media (min-width: $medium-width) {
    margin-top: 27px;
  }

  @media (min-width: $large-width) {
    display: grid;
    grid-template-columns: 285px 1fr 1fr;
  }
}

.step-list__trip-data--companions{
  @media (min-width: $medium-width) {
    order: 3;
    padding-top: 26px;
  }

  @media (min-width: $medium-width) {
    padding-top: 30px;
  }
}

.step-list__trip-data--duration{
  @media (min-width: $medium-width) {
    order: 5;
    border-top: 1px solid #E1E3E9;
    padding-top: 25px;
  }


  @media (min-width: $large-width) {
    border-top: none;
  }
}

.step-list__info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include text(16px, 500, 16px, $basic-blue-light);
  text-transform: uppercase;
  letter-spacing: 0.09em;


  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }

  @media (min-width: $large-width) {
    justify-content: flex-start;
    min-width: 220px;
    order: 0;
  }
}

.step-list__definition{
  @include text(16px, 500, 16px, $basic-blue-light);
  letter-spacing: 0.07em;
  text-transform: uppercase;
  opacity: 0.3;

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.08em;
  }

  @media (min-width: $large-width) {
    margin: 0 0 0 35px;
    order: 2;
  }
}

.step-list__count{
  box-sizing: border-box;
  border-radius: 4px;
  height: 43px;
  border: 1px solid $special-dark-grey;

  @include text(14px, 500, 14px, $basic-blue-light);
  text-transform: uppercase;
  text-align: center;

  @media (min-width: $medium-width) {
    height: 70px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (max-width: $medium-max-width) {
    width: 100%;
  }

  @media (min-width: $large-width) {
    min-width: 180px;
    order: 1;
  }

  &:hover{
    border: 1px solid $special-light-grey;
  }

  &:hover .step-list__horizontal-line{
    stroke: $special-light-grey;
  }

  &:active, &:focus{
    border: 1px solid $dark-blue;
  }

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }
}

.step-list__child{
  margin-top: 20px;

  @media (min-width: $medium-width) {
    order: 4;
    margin-top: 25px;
  }

  @media (min-width: $large-width) {
    margin-top: -55px;
    margin-bottom: 0;
    margin-left: auto;
  }
}

.step-list__date{
  display: flex;
  flex-direction: column;

  @media (min-width: $medium-width) {
    order: 6;
  }
}

.step-list__questions{
  display: flex;
  flex-direction: column;

  @media (min-width: $large-width) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.step-list__caption{
  @include text(20px, bold, 20px, $basic-blue-light);
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  @media (min-width: $medium-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.step-list__input{
  position: relative;
  margin-top: 8px;

  @media (min-width: $medium-width) {
    margin-top: 24px;
  }
  @media (max-width: $medium-max-width) {
    width: 100%;
  }

  @media (min-width: $large-width) {
    margin: 0 0 0 auto;
  }
}

.step-list__plus{
  position: absolute;
  right: 37px;
  top: 20px;

  @media (min-width: $medium-width) {
    right: 45px;
    top: 35px;
  }
}

.step-list__add-plus{
  position: absolute;
  right: 15px;
  top: 15px;

  @media (min-width: $medium-width) {
    top: 30px;
  }

  @media (min-width: $large-width) {
    right: 20px;
  }
}

.step-list__month{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 25px;
  text-align: center;
  border-top: 1px solid #D6D9E6;
  border-bottom: 1px solid #D6D9E6;

  @media (min-width: $medium-width) {
    margin-top: 60px;
  }

  @media (min-width: $large-width) {
    margin-top: 33px;
  }
}

.step-list__month-text{
  @include text(20px, bold, 20px, $basic-blue-light);

  @media (min-width: $medium-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.step-list__back{
  width: 14px;
  height: 21px;

  @media (min-width: $medium-width) {
    width: 30px;
    height: 36px;
  }

  &:hover{
    opacity: 0.5;
  }

  &:active, &:focus{
    opacity: 0.1;
  }
}

.step-list__next{
  width: 14px;
  height: 21px;

  @media (min-width: $medium-width) {
    width: 30px;
    height: 36px;
  }

  &:hover{
    opacity: 0.5;
  }

  &:active, &:focus{
    opacity: 0.1;
  }
}

.step-list__days{
  margin-top: 22px;
  width: 100%;
}

// .step-list__line{
//   display: flex;
//   justify-content: space-between;
//   list-style-type: none;
//   margin-inline-start: 0;
//   margin-inline-end: 0;
//   padding-inline-start: 0;
// }

// .step-list__line--header{
//   padding-left: 10px;
//   padding-right: 10px;
// }
