@mixin text($font-size: 16px, $font-weight: normal, $color: #ffffff){
  font-family: Blogger Sans;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  color: $color;
}

.text--caption{
  @include text(24px, normal, $special-orange)
}

.text--default{
  @include text(16px, normal, #ffffff)
}

.text--bold{
  @include text(16px, bold, #ffffff)
}
