.user-info{
  background-color: $basic-grey;
}

.user-info__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;

  @media (min-width: $large-width) {
    justify-content: space-between;
    align-items: flex-start;
  }
}

.user-info__plans{
  padding-top: 28px;
  padding-bottom: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

.user-info__general{
  padding-top: 136px;
  padding-bottom: 59px;

  @media (min-width: $medium-width) {
    position: relative;
    padding-bottom: 73px;
  }

  @media (min-width: $large-width) {
    position: relative;
    padding-bottom: 90px;
  }
}

.user-info__add-plans{
  background-color: #D4D9EB;
  padding-top: 30px;
  padding-bottom: 113px;
  margin-top: -25px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}


.user-info__level{
  width: 40%;
  text-align: right;

  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 1;
    width: 30%;
  }

  @media (min-width: $large-width){
    order: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -225px;
    margin-right: 390px;
    width: auto;
  }
}

.user-info__avatars{
  width: 45%;
  text-align: left;
  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 3;
    width: 30%;
  }

  @media (min-width: $large-width){
    order: 2;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 180px;
    margin-top: -255px;
    width: auto;
  }
}

.user-info__avatar{
  width: 100px;
  height: 100px;
  @media (min-width: $medium-width){
    width: 94px;
    height: 94px;
  }

  @media (min-width: $large-width){
    width: 190px;
    height: 190px;
  }
}

.user-info__change-photo{
  width: 100%;
  height: 40px;
  @media (min-width: $medium-width) {
    border-radius: 10px;
  }

  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 4;
    height: 60px;
  }

  @media (min-width: $large-width){
    order: 3;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 177px;
    margin-top: -65px;
    width: 190px;
    height: 47px;
  }

  &:hover{
    background-color: #D1D7E9;
  }

  &:active, &:focus{
    background-color: $special-blue-light;
    opacity: 0.3;
  }
}

.user-info__tags{
  width: 100%;
  margin-top: 30px;
  border-radius: 10px;
  border: 1px solid $special-dark-grey;

  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 5;
  }

  @media (min-width: $large-width){
    order: 4;
    width: 45%;
    margin-top: 35px;
    height: 105px;
  }

  &:hover{
    color: $special-grey;
    opacity: 0.6;
  }

  &:active, &:focus{
    color: $special-grey;
    border: 1px solid $special-dark-grey;
    box-sizing: border-box;
    border-radius: 10px;
  }
}

.user-info__transport{
  width: 100%;
  margin-top: 25px;
  border: 1px solid $special-dark-grey;
  border-radius: 10px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 2;
    margin-top: 0;
    width: 30%;
  }

  @media (min-width: $large-width){
    order: 5;
    width: 45%;
    height: 105px;

    margin-top: 35px;
  }
}

.user-info__legend{
  @include text(16px, bold, 18px, $basic-blue-light);
  text-transform: uppercase;

  @media (min-width: $medium-width) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}

.user-info__legend--left{
  @media (min-width: $large-width) {
    left: 10%;
  }
}

.user-info__tag-input{
  border: none;
  background: none;
}
