.user-info{
  background-color: $basic-grey;
}

.user-info__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  position: relative;

  @media (min-width: $large-width) {
    justify-content: space-between;
    align-items: flex-start;
  }
}

.user-info__plans{
  padding-top: 28px;
  padding-bottom: 30px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  @media (min-width: $medium-width) {
    padding-top: 57px;
    padding-bottom: 76px;
  }

  @media (min-width: $medium-width) {
    padding-top: 54px;
    padding-bottom: 64px;
  }
}

.user-info__add-plans-container{
  @media (min-width: $medium-width) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $large-width) {
    padding-left: 124px;
    padding-right: 58px;
  }
}

.user-info__step-container{
  @media (min-width: $medium-width) {
    padding-left: 75px;
    padding-right: 75px;
  }

  @media (min-width: $large-width) {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.user-info__general{
  padding-top: 95px;
  padding-bottom: 34px;

  @media (min-width: $medium-width) {
    position: relative;
    padding-bottom: 73px;
  }

  @media (min-width: $large-width) {
    position: relative;
    padding-bottom: 90px;
  }
}

.user-info__add-plans{
  background-color: #D4D9EB;
  padding-top: 30px;
  padding-bottom: 113px;
  margin-top: -25px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;

  @media (min-width: $medium-width) {
    padding-top: 53px;
    padding-bottom: 63px;
  }

  @media (min-width: $large-width) {
    padding-top: 55px;
    padding-bottom: 106px;
  }
}


.user-info__level{
  width: 40%;
  text-align: right;

  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 1;
    width: 30%;
  }

  @media (min-width: $large-width){
    order: 1;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: -225px;
    margin-right: 390px;
    width: auto;
  }
}

.user-info__avatars{
  width: 45%;
  text-align: left;
  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 3;
    width: 30%;
  }

  @media (min-width: $large-width){
    order: 2;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 180px;
    margin-top: -255px;
    width: auto;
  }
}

.user-info__avatar{
  width: 100px;
  height: 100px;
  @media (min-width: $medium-width){
    width: 94px;
    height: 94px;
  }

  @media (min-width: $large-width){
    width: 190px;
    height: 190px;
  }
}

.user-info__change-photo{
  width: 100%;
  height: 40px;
  @media (min-width: $medium-width) {
    border-radius: 10px;
  }

  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 4;
    height: 60px;
  }

  @media (min-width: $large-width){
    display: none;
  }

  &:hover{
    background-color: #D1D7E9;
  }

  &:active, &:focus{
    background-color: $special-blue-light;
    opacity: 0.3;
  }
}

.user-info__change-photo--large{
  display: none;

  @media (min-width: $large-width) {
    display: block;
    order: 3;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 177px;
    margin-top: -65px;
    width: 190px;
    height: 47px;
  }
}

.user-info__tags{
  width: 100%;
  margin-top: 33px;
  border-radius: 10px;
  border: 1px solid $special-dark-grey;

  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 5;
  }

  @media (min-width: $large-width){
    order: 4;
    width: 45%;
    margin-top: 35px;
    height: 105px;
  }

  &:hover{
    color: $special-grey;
    opacity: 0.6;
  }

  &:active, &:focus{
    color: $special-grey;
    border: 1px solid $special-dark-grey;
    box-sizing: border-box;
    border-radius: 10px;
  }
}

.user-info__transport{
  width: 100%;
  margin-top: 25px;
  height: 66px;
  border: 1px solid $special-dark-grey;
  border-radius: 10px;

  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 2;
    margin-top: 0;
    padding-bottom: 15px;
    width: 30%;
  }

  @media (min-width: $large-width){
    order: 5;
    width: 45%;
    height: 105px;

    margin-top: 35px;
  }
}

.user-info__legend{
  @include text(16px, bold, 18px, $basic-blue-light);
  text-transform: uppercase;
  background-color: $basic-grey;

  @media (min-width: $medium-width) {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    padding: 0 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
  }
}

.user-info__legend--left{
  @media (min-width: $large-width) {
    left: 10%;
  }
}

.user-info__tag-input{
  border: none;
  background: none;
}

.user-info__level-icon{
  display: block;
  margin: 0 0 0 auto;
  --color-1: $dark-blue;
  --color-2: $special-grey;
  --color-3: #444444;

  @media (min-width: $large-width) {
    --color-1: #ffffff;
    --color-2: #ffffff;
    --color-3: #ffffff;
  }
}

.user-info__checkbox{
  border: 1px solid #CBCED9;
}

.user-info__checkbox-text{
  margin-left: 9px;
  @include text(15px, normal, 15px, $basic-blue-light);

  @media (min-width: $medium-width) {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
  }
}

.user-info__points{
  list-style-type: none;
  display: flex;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;

  @media (min-width: $large-width) {
    display: none;
  }
}

.user-info__point{
  &:not(last-child){
    margin-right: 16px;
  }

  @media (min-width: $medium-width) {
    &:not(last-child){
      margin-right: 29px;
    }
  }
}

.user-info__point-icon{
  width: 5px;
  height: 5px;

  @media (min-width: $medium-width) {
    width: 6px;
    height: 6px;
  }
}

.user-info__point-icon--disabled{
  opacity: 0.3;
}

.user-info__transport-button{
  padding: 7px;

  @media (min-width: $medium-width) {
    padding: 10px;
  }

  @media (min-width: $large-width) {
    padding: 11px;
  }
}

.user-info__icon{
  width: 18px;
  height: 17px;

  @media (min-width: $medium-width) {
    width: 23px;
    height: 22px;
  }

  @media (min-width: $large-width) {
    width: 23px;
    height: 22px;
  }
}

.user-info__list{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin-top: 8px;

  @media (min-width: $medium-width) {
    margin-top: 15px;
  }

  @media (min-width: $large-width) {
    margin-top: 26px;
  }
}
