
.users{

}

.users__caption{
  background: url(../../img/back.svg) left top no-repeat, url(../../img/smolov-back-desktop.png) right top no-repeat;
}

.users__cards{
  background: url(../../img/rogovaya-back-desktop.png) no-repeat;
}

.users__level-number{
  @include text(24px, bold, 24px, #FFFFFF);
}

.users__level-text{
  @include text(14px, normal, 14px, #FFFFFF);
}
