.user-plans{
  background-color: $special-blue-light;
}

.user-plans__list{
  margin-top: 31px;

  @media (min-width: $medium-width) {
    margin-top: 52px;
  }

  @media (min-width: $large-width) {
    margin-top: 53px;
  }
}

.user-plans__caption{
  @include text(24px, bold, 24px, $basic-blue-light);

  @media (min-width: $medium-width) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $large-width) {
    margin-left: 7px;
  }
}
