
.users{
padding-bottom: 25px;
}

.users__header{
  // margin-left: 25px;
  @media (min-width: $large-width) {
    display: flex;
  }
}

.users__caption{
  margin-top: 34px;
  margin-left: 51px;
}

.users__back-photo{
  @media (min-width: $large-width) {
    margin-left: 152px;
  }
}

.users__description{
  margin-bottom: 25px;
}

.users__cards{
  margin-top: 54px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  @media (min-width: $medium-width) {
    flex-direction: row;
  }
}

.users__level{
  position: absolute;
}

.users__level-number{
  @include text(24px, bold, 24px, #FFFFFF);
}

.users__level-text{
  @include text(14px, normal, 14px, #FFFFFF);
}

.users__background-images{
  display: flex;
}

.users__card-list{
  position: relative;

  @media (min-width: $medium-width) {
    margin-right: 55px;
  }

  @media (min-width: $large-width) {
    margin-right: 60px;
  }
}

.users__card{
  flex-direction: column;
}

.users__info{
  @media (min-width: $large-width) {
    display: flex;
    flex-direction: column;
  }
}
