.user-info{
  background-color: $basic-grey;
}

.user-info__plans{
  padding-top: 28px;
  padding-bottom: 30px;
}

.user-info__general{
  padding-top: 20px;
  padding-bottom: 34px;
}

.user-info__add-plans{
  background-color: #D4D9EB;
  padding-top: 30px;
  padding-bottom: 43px;
}
