
.users{
  padding-bottom: 25px;
  position: relative;

  @media (min-width: $large-width) {
    min-height: 852px;
  }
}

.users__header{
  // margin-left: 25px;
  @media (min-width: $large-width) {
    display: flex;
    justify-content: space-between;
  }
}

.users__caption{
  margin-top: 34px;
  margin-left: 51px;

  @media (min-width: $medium-width) {
    font-size: 45px;
    line-height: 45px;
  }

  @media (min-width: $large-width) {
    z-index: 1;
    margin-top: 130px;
  }
}

.users__back-photo{
  @media (min-width: $large-width) {
    margin-left: 152px;
  }
}

.users__description{
  margin-bottom: 25px;

  @media (min-width: $medium-width) {
    max-width: 427px;
    font-size: 28px;
    line-height: 34px;
    font-weight: 300;
  }

  @media (min-width: $large-width) {
    z-index: 1;
  }
}

.users__cards{
  margin-top: 54px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  @media (min-width: $medium-width) {
    flex-direction: row;
  }
}

.users__level{
  position: absolute;
  top: 17px;
  left: 16px;
}

.users__level-number{
  @include text(24px, bold, 24px);
  fill: #FFFFFF;
}

.users__level-text{
  @include text(14px, normal, 14px);
  fill: #FFFFFF;
}

.users__level-line{
  stroke: #FFFFFF;
}

.users__background-images{
  display: flex;
  justify-content: space-between;
  margin-bottom: -75px;

  @media (min-width: $large-width) {
    position: absolute;
    z-index: 0;
    flex-wrap: wrap;
    margin-top: 70px;
    left: 60px;
  }
}

.users__background-image-1{
  background-image: url(../../img/back-medium.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: -25px;
  width: 113px;
  height: 132px;

  @media (min-width: $medium-width) {
    width: 212px;
    height: 212px;
  }

  @media (min-width: $large-width) {
  }
}

.users__background-image-2{
  background-image: url(../../img/smolov-back-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 143px;
  height: 143px;

  @media (min-width: $medium-width) {
    position: absolute;
    left: 40px;
    top: 360px;
  }

  @media (min-width: $large-width) {
    top: 134px;
    left: 547px;
  }
}

.users__background-image-3{
  position: absolute;
  top: 235px;
  background-image: url(../../img/rogovaya-back-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 64px;
  height: 71px;
  left: 0;

  @media (min-width: $medium-width) {
    position: static;
    width: 285px;
    height: 285px;
  }

  @media (min-width: $large-width) {
    position: absolute;
    top: 386px;
    left: 190px;
  }
}

.users__background{
  display: none;
}

.users__card-list{
  position: relative;
  margin-bottom: 10px;

  @media (min-width: $medium-width) {
    &:not(:last-child){
      margin-right: 55px;
    }
  }

  @media (min-width: $large-width) {
    max-width: 285px;
    &:not(:last-child){
      margin-right: 60px;
    }
  }
}

.users__card{
  flex-direction: column;
}

.users__info{
  @media (min-width: $large-width) {
    display: flex;
    flex-direction: column;
  }
}

.users__photo{
  width: 100%;
  height: 100%;
  @media (min-width: $medium-width) {
    height: 325px;
  }

  @media (min-width: $large-width) {
    max-height: 297px;
  }
}

.users__card-info{
  padding-bottom: 22px;

  @media (min-width: $medium-width) {
    padding-bottom: 30px;
  }
}

.users__plain{
  position: absolute;
  margin-left: -30px;
  margin-top: -5px;

  @media (min-width: $medium-width) {
    margin-left: -69px;
    margin-top: 5px;
  }
}

.users__plain-1{
  &:hover{
    .users__plain--visible-1{
      display: block;
    }
  }
}

.users__plain--visible-1{
  display: none;
}


.users__plain-2{
  &:hover{
    .users__plain--visible-2{
      display: block;
    }
  }
}

.users__plain--visible-2{
  display: none;
}

.users__bus{
  position: absolute;
  margin-left: -40px;
  margin-top: -5px;

  @media (min-width: $medium-width) {
    margin-left: -83px;
    margin-top: 5px;
  }
}

.users__bus-1{
  &:hover{
    .users__bus--visible-1{
      display: block;
    }
  }
}

.users__bus--visible-1{
  display: none;
}

.users__bus-2{
  &:hover{
    .users__bus--visible-2{
      display: block;
    }
  }
}

.users__bus--visible-2{
  display: none;
}

.users__bicycle{
  position: absolute;
  margin-left: -20px;
  margin-top: -5px;

  @media (min-width: $medium-width) {
    margin-left: -60px;
    margin-top: 5px;
  }
}

.users__bicycle-1{
  &:hover{
    .users__bicycle--visible-1{
      display: block;
    }
  }
}

.users__bicycle--visible-1{
  display: none;
}

.users__bicycle-2{
  &:hover{
    .users__bicycle--visible-2{
      display: block;
    }
  }
}

.users__bicycle--visible-2{
  display: none;
}

.users__walk{
  position: absolute;
  margin-left: -10px;
  margin-top: -5px;

  @media (min-width: $medium-width) {
    margin-left: -45px;
    margin-top: 5px;
  }
}

.users__walk-1{
  &:hover{
    .users__walk--visible-1{
      display: block;
    }
  }
}

.users__walk--visible-1{
  display: none;
}

.users__walk-2{
  &:hover{
    .users__walk--visible-2{
      display: block;
    }
  }
}

.users__walk--visible-2{
  display: none;
}

.users__flags{
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: -15px;
  margin-bottom: 10px;
}

.users__flag{
  width: 35px;
  height: 25px;
  margin-right: 10px;
}

.users__flag-tooltip-1{
  &:hover{
    .users__flag-tooltip-1--visible{
      display: block;
    }
  }
}

.users__flag-tooltip-1-position{
  position: absolute;
  margin-left: -30px;

  @media (min-width: $medium-width) {
    margin-left: -45px;
  }
}

.users__flag-tooltip-1--visible {
  display: none;
}

.users__flag-tooltip-2{
  &:hover{
    .users__flag-tooltip-2--visible{
      display: block;
    }
  }
}

.users__flag-tooltip-2-position{
  position: absolute;
  margin-left: -30px;

  @media (min-width: $medium-width) {
    margin-left: -40px;
  }
}

.users__flag-tooltip-2--visible {
  display: none;
}

.users__flag-tooltip-3{
  &:hover{
    .users__flag-tooltip-3--visible{
      display: block;
    }
  }
}

.users__flag-tooltip-3-position{
  position: absolute;
  margin-left: -30px;

  @media (min-width: $medium-width) {
    margin-left: -55px;
  }
}

.users__flag-tooltip-3--visible {
  display: none;
}

.users__flag-tooltip-4{
  &:hover{
    .users__flag-tooltip-4--visible{
      display: block;
    }
  }
}

.users__flag-tooltip-4-position{
  position: absolute;
  margin-left: -15px;

  @media (min-width: $medium-width) {
    margin-left: -35px;
  }
}

.users__flag-tooltip-4--visible {
  display: none;
}

.users__flag-tooltip-5{
  &:hover{
    .users__flag-tooltip-5--visible{
      display: block;
    }
  }
}

.users__flag-tooltip-5-position{
  position: absolute;
  margin-left: -5px;

  @media (min-width: $medium-width) {
    margin-left: -25px;
  }
}

.users__flag-tooltip-5--visible {
  display: none;
}

.users__can-find{
  font-size: 21px;
  line-height: 24px;
}

.users__list{
  margin-top: 15px;
}

.users__icons{
  margin-top: 17px;
}

.users__level-icon{
  stroke: #FF8D30;
  stroke-width: 4;
  stroke-linecap: round;
  fill: #161C35;
}
