.user-info{
  background-color: $basic-grey;
}

.user-info__container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (min-width: $large-width) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

.user-info__level{
  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 1;
  }
}

.user-info__plans{
  padding-top: 28px;
  padding-bottom: 30px;
}

.user-info__general{
  padding-top: 20px;
  padding-bottom: 34px;

  @media (min-width: $medium-width) {
    position: relative;
  }
}

.user-info__add-plans{
  background-color: #D4D9EB;
  padding-top: 30px;
  padding-bottom: 43px;
}

.user-info__avatar{
  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 2;
  }
}

.user-info__change-photo{
  width: 100%;
  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 3;
  }
}

.user-info__tags{
  width: 100%;
  margin-top: 30px;
  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 4;
  }
}

.user-info__transport{
  width: 100%;
  margin-top: 25px;
  @media (min-width: $medium-width) and (max-width: $medium-max-width){
    order: 5;
  }
}
