.visits-list{
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.visits-list__item{
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
}

.visits-list__country{
  @include text(21px, bold, 21px, #000000);
}

.visits-list__info{
  display: block;
  @include text(16px, 500, 18px, $basic-blue);
  opacity: 0.3;
}

.visits-list__caption{
  margin-inline-start: 0;
  min-width: 135px;

  @media (min-width: $large-width) {
    min-width: 170px;
  }
}
