$basic-yellow : #FFD74B;
$special-yellow-dark:#FFBD30;
$special-orange:#FF8D30;
$basic-blue : #161C35;
$dark-blue: #192144;
$special-grey: #444444;
$basic-blue-light: #1D2E5B;
$blue: #121936;
$basic-grey: #EDEFF6;
$special-blue-light: #DFE3F0;
$special-blue-dark: #101D41;
$dark-grey: #E2E5F2;
