@mixin text($font-size: 16px, $font-weight: normal, $line-height: 22px, $color: #ffffff){
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}

.text{
  font-family: Blogger Sans;
  font-style: normal;
}

.text--caption{
  @include text(24px, bold, 24px, $special-orange)
}

.text--default{
  @include text(16px, normal, 22px, #ffffff)
}

.text--bold{
  @include text(16px, bold, 22px, #ffffff)
}
